# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

test-results/
playwright-report/

/src/assets/build/*
/src/assets/images/*

/public/assets/icons/champions/
/public/assets/icons/summoners/
/public/assets/icons/runes/
/public/assets/icons/items/
/public/assets/images/lelariva.png
/public/assets/images/lelariva-quality.png
/public/assets/files/build/*
/src/assets/files/analytics.json
/public/assets/files/tiers-listes/*
/public/assets/files/contact/*
/src/assets/files/data/*
/src/assets/files/contact/*
/src/assets/files/dictionnaire/*
/src/assets/files/data/youtube.json
/src/assets/files/data/token-state.json

.env
