.footer {
  bottom: 0;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connect {
  color: var(--nox-grey3);
  font-weight: 500;
  padding: 0 1rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.footer-link {
  text-decoration: none;
  color: var(--nox-grey3);
  transition: color 0.2s ease;
}

.footer-link:hover {
  text-decoration: underline;
  color: var(--nox-grey2);
}

@media (min-width: 767px) {
  .footer {
    position: fixed;
  }
}
