@charset "UTF-8";
@import './variables.css';


@container (max-width: 970px) {
    .line.l-pro[data-v-cf939f7e] {
      font-size: 0.9em;
    }
    .accord[data-v-e2ae3045] {
        font-size: 0.95em;
      }
}

@container (max-width: 880px) {
.line.l-pro[data-v-cf939f7e] {
    font-size: 0.8em;
}
.accord[data-v-e2ae3045] {
    font-size: 0.9em;
  }
}

@container (max-width: 780px) {
.line.l-pro[data-v-cf939f7e] {
    place-content: stretch;
    font-size: 0.9em;
    display: grid;
}
.l-pro.line .champions[data-v-cf939f7e] {
    grid-area: 1/2 / auto/auto;
    justify-self: right;
    }
    .l-pro.line .runes[data-v-cf939f7e] {
    grid-area: 2/2 / auto/auto;
    }
    .l-pro.line .sumsItems[data-v-cf939f7e] {
        grid-area: 2/1 / auto/auto;
      }
      .build[data-v-8945e778] {
        pointer-events: none;
      }
      .build .info[data-v-8945e778] {
        grid-area: 1/1 / auto/auto;
      }
      .build .pro[data-v-8945e778] {
        grid-area: 1/1 / auto/auto;
        justify-self: center;
        text-align: center;
        margin-right: 0;
      }
      .build .match[data-v-8945e778] {
        grid-area: 1/1 / auto/auto;
        justify-self: right;
        margin-right: -2em;
      }
}

@container (max-width: 750px) {
    .accord[data-v-e2ae3045] {
      display: none;
    }
  }

@container (max-width: 475px) {
.line.l-pro[data-v-cf939f7e] {
    place-content: stretch;
    max-width: 100%;
    display: grid;
    gap: 1em;
}
.l-pro.line .champions[data-v-cf939f7e] {
    grid-area: 2/1 / auto/auto;
    justify-self: left;
    }
    .l-pro.line .runes[data-v-cf939f7e] {
        grid-area: 2/2 / auto/auto;
        justify-self: right;
      }
      .l-pro.line .sumsItems[data-v-cf939f7e] {
        grid-area: 3/1 / auto/3;
        justify-self: right;
      }
      .build .pro[data-v-8945e778] {
        grid-area: 1/2 / auto/auto;
        margin-left: -3.5em;
        text-align: center;
        justify-self: left;
      }
      .build .match[data-v-8945e778] {
        grid-area: 1/2 / auto/auto;
        justify-self: right;
        text-align: right;
        margin: 0;
      }
}

@container (min-width: 750px) {
    .build .open[data-v-8945e778] {
      border-radius: 4px 4px 0 0;
      border-color: var(--slate-4);
      border-bottom-color: var(--slate-6);
    }
  
    @container (max-width: 475px) {
      .build .open[data-v-8945e778] {
        width: 21rem;
      }
    }
  }