.err[data-v-a1902453] {
  text-align: center;
}

.err .text[data-v-a1902453] {
  font-weight: 500;
  font-size: 1.2em;
  margin: 2em 0;
}

.err .img[data-v-a1902453] {
  margin: 2em;
}

.err .img img[data-v-a1902453] {
  width: 3.2em;
}
