.line[data-v-4aa9c5fe] {
  border: var(--sheetBorderSize, 1px) solid var(--sheetBorder, var(--slate-5));
  background-color: var(--sheetBack, var(--black));
  justify-content: right;
  align-items: center;
  padding: 0.75em 1em;
  border-radius: 4px;
  position: relative;
  text-align: left;
  display: flex;
  min-width: 0;
  width: 100%;
  gap: 1.4em;
}

.line .champions[data-v-4aa9c5fe] {
  display: flex;
  --champBorder: var(--sheetChampBorder, var(--gold-3));
  --champSize: 2.25em;
}

.l-player.line .champions[data-v-4aa9c5fe] {
  order: -1;
}

.line .runes[data-v-4aa9c5fe] {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 0.5em;
  --runeBorder: none;
  --runeSize: 2.4em;
}

.line .runes .main[data-v-4aa9c5fe] {
  grid-template-columns: repeat(3, min-content);
  display: grid;
  gap: 0.2em;
  --runeBorder: var(--gold-3);
  --runeSize: 1.25em;
}

.line .runes .shards[data-v-4aa9c5fe] {
  align-items: center;
  place-self: stretch;
  display: flex;
}

.line .runes .shards > .wrap[data-v-4aa9c5fe] {
  justify-content: space-around;
  flex-direction: column;
  font-size: 0.65em;
  display: flex;
  gap: 0.25em;
}

.line .sumsItems[data-v-4aa9c5fe] {
  align-items: center;
  display: flex;
  gap: 1.5em;
}

.line .sumsItems .sums[data-v-4aa9c5fe] {
  display: flex;
  gap: 0.5em;
  --sumSize: 1.5em;
}

.line .sumsItems .items[data-v-4aa9c5fe] {
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  width: max-content;
  display: grid;
  gap: 0.5em;
  --itemBorder: var(--gold-3);
  --itemSize: 2.5em;
}

.line .runes .shards > .wrap[data-v-4aa9c5fe] {
  justify-content: space-around;
  flex-direction: column;
  font-size: 0.65em;
  display: flex;
  gap: 0.25em;
}
