.loading[data-v-03f7d81a] {
  vertical-align: text-bottom;
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
}

.loading[data-v-03f7d81a]:after {
  display: inline-table;
  white-space: pre;
  text-align: left;
}

.loading[data-v-03f7d81a]:after {
  content: '\a.\a..\a...';
  animation: spin4-03f7d81a 2s steps(4) infinite;
}

.loading.line[data-v-03f7d81a]:after {
  content: '/\a–\a\\\a|';
  text-align: center;
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.line2[data-v-03f7d81a]:after {
  content: '╲\a│\a╱\a─';
  text-align: center;
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.plus[data-v-03f7d81a]:after {
  content: '┽\a╀\a┾\a╁';
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.dots[data-v-03f7d81a]:after {
  content: '⠋\a⠙\a⠹\a⠸\a⠼\a⠴\a⠦\a⠧\a⠇\a⠏';
  animation: spin10-03f7d81a 1s steps(10) infinite;
}

.loading.dots2[data-v-03f7d81a]:after {
  content: '⠋\a⠙\a⠚\a⠞\a⠖\a⠦\a⠴\a⠲\a⠳';
  animation: spin9-03f7d81a 1s steps(9) infinite;
}

.loading.dots3[data-v-03f7d81a]:after {
  content: '⋮\a⋰\a⋯\a⋱';
  text-align: center;
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.lifting[data-v-03f7d81a]:after {
  content: '꜈꜍\a꜉꜎\a꜊꜏\a꜋꜐\a꜌꜑';
  animation: spin5-03f7d81a 0.5s steps(5) infinite alternate;
}

.loading.hamburger[data-v-03f7d81a]:after {
  content: '☱\a☲\a☴';
  animation: spin3-03f7d81a 0.3s steps(3) infinite alternate;
}

.loading.bar[data-v-03f7d81a]:after {
  content: '▏\a▎\a▍\a▌\a▋\a▊\a▉';
  animation: spin7-03f7d81a 1s steps(7) infinite alternate;
}

.loading.bar2[data-v-03f7d81a]:after {
  content: '▁\a▂\a▃\a▄\a▅\a▆\a▇\a█';
  animation: spin8-03f7d81a 2s steps(8) infinite alternate;
}

.loading.circle[data-v-03f7d81a]:after {
  content: '◴\a◷\a◶\a◵';
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.open-circle[data-v-03f7d81a]:after {
  content: '◜\a◠\a◝\a◞\a◡\a◟';
  animation: spin6-03f7d81a 0.6s steps(6) infinite;
}

.loading.arrow[data-v-03f7d81a]:after {
  content: '←\a↖\a↑\a↗\a→\a↘\a↓\a↙';
  animation: spin8-03f7d81a 1s steps(8) infinite;
}

.loading.triangle[data-v-03f7d81a]:after {
  content: '◢\a◣\a◤\a◥';
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.triangles[data-v-03f7d81a]:after {
  content: '▹▹▹▹▹\a▸▹▹▹▹\a▹▸▹▹▹\a▹▹▸▹▹\a▹▹▹▸▹\a▹▹▹▹▸';
  animation: spin6-03f7d81a 1s steps(6) infinite;
}

.loading.beam[data-v-03f7d81a]:after {
  content: '\a=   \a==  \a=== \a====\a  ===\a   ==\a    =\a';
  animation: spin9-03f7d81a 1.2s steps(9) infinite;
  font-family: monospace;
}

.loading.bullet[data-v-03f7d81a]:after {
  content: ' ●    \a   ●   \a    ●  \a     ● \a      ●\a     ● \a    ●  \a   ●   \a  ●    \a●     ';
  animation: spin10-03f7d81a 1s steps(10) infinite;
}

.loading.bullseye[data-v-03f7d81a]:after {
  content: '◎◎◎\a◉◎◎\a◎◉◎\a◎◎◉';
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.rhomb[data-v-03f7d81a]:after {
  content: '◇◇◇\a◈◇◇\a◇◈◇\a◇◇◈';
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.fish[data-v-03f7d81a]:after {
  content: ">))'>\a >))'>\a  >))'>\a   >))'>\a    >))'>\a    <'((<\a   <'((<\a  <'((<\a <'((<\a<'((<\a";
  animation: spin10-03f7d81a 5s steps(10) infinite;
}

.loading.toggle[data-v-03f7d81a]:after {
  content: '⊶\a⊷';
  animation: spin2-03f7d81a 1s steps(2) infinite;
}

.loading.countdown[data-v-03f7d81a]:after {
  content: '0\a 1\a 2\a 3\a 4\a 5\a 6\a 7\a 8\a 9';
  animation: spin10-03f7d81a 10s steps(10) reverse;
}

.loading.time[data-v-03f7d81a]:after {
  content: '🕐\a🕑\a🕒\a🕓\a🕔\a🕕\a🕖\a🕗\a🕘\a🕙\a🕚\a🕛';
  animation: spin12-03f7d81a 3s steps(12) infinite;
  width: 1.3em;
}

.loading.hearts[data-v-03f7d81a]:after {
  content: '💛\a💙\a💜\a💚';
  animation: spin4-03f7d81a 2s steps(4) infinite;
  width: 1.3em;
}

.loading.earth[data-v-03f7d81a]:after {
  content: '🌍\a🌎\a🌏';
  animation: spin3-03f7d81a 1s steps(3) infinite;
  width: 1.3em;
}

.loading.moon[data-v-03f7d81a]:after {
  content: '🌑\a🌒\a🌓\a🌔\a🌕\a🌖\a🌗\a🌘';
  animation: spin8-03f7d81a 2s steps(8) infinite;
  width: 1.3em;
}

.loading.monkey[data-v-03f7d81a]:after {
  content: '🙈\a🙉\a🙊';
  animation: spin3-03f7d81a 1.5s steps(3) infinite;
  width: 1.3em;
}

.loading.runner[data-v-03f7d81a]:after {
  content: '🚶\a🏃';
  animation: spin2-03f7d81a 1s steps(2) infinite;
  width: 1.3em;
}

.loading.box-bounce[data-v-03f7d81a]:after {
  content: '▖\a▘\a▝\a▗';
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.star[data-v-03f7d81a]:after {
  content: '✶\a✸\a✹\a✺\a✹\a✷';
  animation: spin6-03f7d81a 1s steps(6) infinite;
}

.loading.matrix[data-v-03f7d81a]:after {
  content: '░ ░░░░\a░░ ░░░\a░░░ ░░\a░░░░ ░';
  animation: spin4-03f7d81a 0.7s steps(4) infinite alternate;
}

.loading.square[data-v-03f7d81a]:after {
  content: '◰\a◳\a◲\a◱';
  animation: spin4-03f7d81a 1s steps(4) infinite;
}

.loading.words[data-v-03f7d81a]:after {
  content: 'Loading\aStill loading\aMostly done\a A bit more \a Almost done\aReady-ish';
  animation: spin6-03f7d81a 12s steps(6) infinite;
}
