@charset "UTF-8";
@import './variables.css';

@media (hover: none) {
  .tooltip [data-v-de17e6dc-s]:hover + .box.touch:not(.off) {
    display: flex;
  }
  .thumb.type-pick[data-v-8e0e60d7] {
    pointer-events: none;
  }
}

@media (hover: hover) {
    .tooltip [data-v-de17e6dc-s]:hover + .box {
        display: flex;
      }
  .sortable-chosen .tooltip [data-v-de17e6dc-s]:hover + .box {
    display: none;
  }
  .levels .level[data-v-575fc9df]:hover {
    background-color: var(--slate-2);
    color: var(--slate-6);
    font-weight: 600;
  }
  .thumb.type-side:hover .img[data-v-8e0e60d7],
  .thumb.type-grid:hover .img[data-v-8e0e60d7],
  .thumb.type-bigGrid:hover .img[data-v-8e0e60d7] {
    border-color: var(--gold-1);
  }
  .thumb.type-pick:hover .img[data-v-8e0e60d7] {
    border-color: var(--slate-2);
  }
  .sheet > .wrap.hover[data-v-7a29d415]:hover {
    background: var(--1f9e183a);
  }
  .line.hover[data-v-cf939f7e]:hover {
    background-color: var(--sheetBackHover, var(--slate-6));
  }
  .stats .list .list-item[data-v-37547fa4]:hover {
    background-color: var(--slate-6);
  }
  .summoners .list .summoner .item[data-v-329ba674]:hover {
    border-color: var(--gold-3);
  }
  .shards .shard .item.row[data-v-41863a3e]:hover {
    filter: grayscale(0);
  }
  .runes .rune .rune-item[data-v-cf683915]:hover {
    border-color: var(--gold-3);
  }
  .runesPage > .wrap .path .wrap button[data-v-6a49ead9]:hover {
    border-color: var(--gold-3);
  }
  button[data-v-27037513]:hover {
    background-color: var(--slate-5);
  }
  .champions .list .champ[data-v-6024a556]:hover {
    border-color: var(--gold-1);
    z-index: 1;
  }
  .item-page > .wrap .body .wiki a[data-v-7541897a]:hover {
    color: var(--sand-3);
  }
  .build .main .next button[data-v-c3d704f8]:hover {
    filter: brightness(1.2);
  }
  .build .menu a[data-v-c3d704f8]:hover {
    text-decoration: underline;
  }
  .filter .blocks .item[data-v-1f066c3c]:hover:not(.disabled) {
    background-color: var(--slate-6);
  }
  .filter .blocks .item .roles .role[data-v-1f066c3c]:hover {
    background-color: var(--slate-5);
  }
  .filter .blocks .item.empty[data-v-1f066c3c]:hover {
    background-color: transparent;
  }
  .player > .line[data-v-af11fb10]:hover {
    background-color: var(--slate-6);
  }
  .player > .line .add[data-v-af11fb10]:hover {
    background-color: var(--slate-5);
  }
  .header a[data-v-7cc930f8]:hover {
    text-decoration: underline;
  }
  .btn:hover {
    filter: brightness(1.2);
  }
}

@media (hover: hover) and (max-width: 550px) {
  .tooltip [data-v-de17e6dc-s]:hover + .box {
    display: none;
  }
}

@media not (max-width: 1000px) {
  .items-page > .grid .items[data-v-4e4a1f26] .grid .search,
  .items-page > .grid .items[data-v-4e4a1f26] .grid .filter {
    display: none;
  }
}

@media not (max-width: 600px) {
  .fstyle[data-v-61c1a1bd]:not(.nopre)
    span[style*='color']:not(:has(*[style*='color'])),
  .fstyle[data-v-61c1a1bd]:not(.nopre) span[style*='border-bottom'] {
    white-space: pre !important;
  }
}

@media (max-width: 1120px) {
  .filter[data-v-1f066c3c] {
    width: 14em;
  }
}

@media (max-width: 1084px) {
  .filter[data-v-1f066c3c] {
    position: static;
    display: flex;
    width: 100%;
  }
  .filter > .search[data-v-1f066c3c] {
    margin-bottom: -0.5em;
    grid-area: 1/1/2/3;
    place-self: center;
  }
  .filter .blocks[data-v-1f066c3c] {
    place-content: center;
    flex-direction: row;
    gap: 0.75em;
  }
  .filter .blocks .block[data-v-1f066c3c] {
    display: contents;
  }
  .filter .blocks .block .list[data-v-1f066c3c] {
    display: contents;
  }
  .filter .blocks .block .title[data-v-1f066c3c] {
    display: none;
  }
  .filter .blocks .item[data-v-1f066c3c] {
    padding: 0.5em 0.75em;
    width: auto;
  }

  .filter .blocks .item[data-v-1f066c3c]:nth-child(n + 3) {
    display: none;
  }
  .filter .blocks .item .roles[data-v-1f066c3c] {
    display: none;
  }
  .filter .blocks .item .tag[data-v-1f066c3c] {
    display: none;
  }
  .grid[data-v-95b9cac1] {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .grid .header .sub[data-v-95b9cac1] {
    display: none;
  }
  .grid .empty[data-v-95b9cac1] {
    position: relative;
    font-size: 0.8em;
    top: 0.5em;
  }
}

@media (max-width: 1000px) {
  .tooltip .box.left-start[data-v-de17e6dc] {
    display: none;
  }
  .grid[data-v-aa396e7d] {
    margin-bottom: 0;
  }
  .picks[data-v-60608afa] {
    max-width: 21.2em;
    position: fixed;
    padding: 0 1em;
    margin: 0;
    width: 100%;
    bottom: 1em;
    z-index: 1;
  }
  .picks .list[data-v-60608afa] {
    box-shadow: var(--black) 0 0 10px 4px;
    border: 1px solid var(--slate-4);
    background-color: var(--black);
    border-radius: 4px;
  }
  .picks .list[data-v-60608afa]:before {
    display: none;
  }
  .item-page > .wrap[data-v-7541897a] {
    place-items: center;
  }
  .item-page > .wrap > .header[data-v-7541897a] {
    grid-area: 1/1 / auto/-1;
  }
  .item-page > .wrap .body[data-v-7541897a] {
    grid-area: 2/1 / auto/-1;
    max-width: 100%;
  }
  .item-page > .wrap .side[data-v-7541897a] {
    grid-area: 3/1 / auto/-1;
    margin-top: 1em;
  }
  .item-page > .wrap .build[data-v-7541897a] {
    margin-top: 1em;
  }
  .picks .list[data-v-60608afa] {
    box-shadow: var(--black) 0 0 10px 4px;
    border: 1px solid var(--slate-4);
    background-color: var(--black);
    border-radius: 4px;
  }
  .builds .settings[data-v-8886a6d1] {
    display: none;
  }
  .build > .wrap[data-v-ca5b300e] {
    grid-template-columns: min-content;
  }
  .build > .wrap > .sheet[data-v-ca5b300e] {
    text-align: center;
    position: relative;
    grid-area: unset;
    --sheetSize: 15;
    top: unset;
  }
  .build > .wrap .hue[data-v-ca5b300e] {
    grid-area: unset;
    margin-top: 0;
  }
  .build > .wrap .hue input[data-v-ca5b300e] {
    --s: 1.1em;
  }
  .build > .wrap .actions[data-v-ca5b300e] {
    place-content: center;
    grid-area: unset;
    margin-top: 0;
  }
  .build > .wrap .actions .image[data-v-ca5b300e] {
    place-content: center;
    grid-area: unset;
  }
  .build > .wrap .actions .rest[data-v-ca5b300e] {
    place-content: center;
  }
  .build > .wrap > .stats[data-v-ca5b300e] {
    place-content: center;
    grid-area: unset;
  }
  .build > .sheet[data-v-c3d704f8] {
    grid-area: 4/1 / auto/-1;
    place-self: center;
    --sheetSize: 14;
    display: none;
  }

  .build > .sheet.info[data-v-c3d704f8] {
    display: block;
  }
  .build .extra[data-v-c3d704f8] {
    grid-area: 3/1 / auto/-1;
    position: relative;
    margin-bottom: 2em;
    top: 0;
  }
  .build .main[data-v-c3d704f8] {
    grid-area: 2/1 / auto/-1;
    margin-bottom: 0;
  }
  .build .main .next.off[data-v-c3d704f8] {
    display: none;
  }
  .build .main .next button[data-v-c3d704f8] {
    max-width: 18em;
  }
  .build .menu[data-v-c3d704f8] {
    grid-area: 1/1 / auto/3;
  }
  .items-page > .grid[data-v-4e4a1f26] {
    grid-template-columns: 1fr;
  }
  .items-page > .grid .side[data-v-4e4a1f26] {
    display: none;
  }
  .grid .header[data-v-95b9cac1] {
    margin-top: -1.5em;
    font-size: 0.8em;
  }
  .header[data-v-7cc930f8] {
    font-size: 14px;
  }
  .app[data-v-f2a5836d] {
    padding-bottom: 5em;
  }
  .app .terms[data-v-f2a5836d] {
    text-align: center;
    display: none;
    margin: 1em 0;
    left: 0;
  }
  h1 {
    margin-bottom: 1.2em;
    font-size: 1.6em;
  }
  h1.pagetitle {
    font-size: 1.4em;
  }
}

@media (max-width: 828px) {
  .builds[data-v-78e8b174] {
    width: 480px;
  }
}

@media (max-width: 768px) {
  .sheet > .wrap[data-v-7a29d415] {
    width: 90%;
    padding: 1em;
  }

  .tooltip-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .gold {
    font-size: 0.75em;
  }

  .name {
    font-size: 14px;
  }

  .stats h3 {
    font-size: 1em;
  }

  .stats li {
    font-size: 0.85em;
  }
}

@media (max-width: 700px) {
  .grid .group.type-bigGrid[data-v-aa396e7d] {
    font-size: 0.9em;
  }
  .items-page[data-v-c8040147] {
    --thumb: 3em;
  }
  .champions[data-v-6024a556] {
    --size: 50px;
  }
  .item-page > .wrap[data-v-7541897a] {
    padding: 1.2em;
    gap: 1em 2em;
  }
  .item-page > .wrap > .header[data-v-7541897a] {
    font-size: 13px;
  }
  .item-page > .wrap .body[data-v-7541897a] {
    font-size: 14px;
  }
  .item-page > .wrap .build[data-v-7541897a] {
    font-size: 13px;
  }
  .items-page[data-v-4e4a1f26] {
    --thumb: 3em;
  }
  .filter .blocks .item[data-v-1f066c3c]:nth-child(n + 2) {
    display: none;
  }
  .header[data-v-7cc930f8] {
    font-size: 15px;
  }
  .header .overlay.menu[data-v-7cc930f8] {
    background-color: color-mix(in srgb, var(--black), transparent 20%);
    position: fixed;
    display: block;
    z-index: 2;
    inset: 0;
  }
  .header .menu[data-v-7cc930f8] {
    display: block;
    --size: 2em;
  }

  .header .menu[data-v-7cc930f8] svg {
    height: var(--size);
    width: var(--size);
    display: block;
  }

  .header .menu[data-v-7cc930f8] svg path {
    stroke: var(--color);
  }
  .header .right[data-v-7cc930f8] {
    display: none;
  }

  .header .right.menu[data-v-7cc930f8] {
    border-left: 1px solid var(--slate-5);
    background-color: var(--black);
    flex-direction: column-reverse;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    place-content: start;
    padding-top: 1em;
    gap: 0;
  }
  .header .right span[data-v-7cc930f8] {
    display: none;
  }
  .header .right a[data-v-7cc930f8] {
    text-align: right;
    padding: 1em 4em 1em 2em;
  }
  .app[data-v-f2a5836d] {
    padding: 0.6em 0.8em 5em;
  }
}

@media (max-width: 680px) {
  .summoners[data-v-329ba674] {
    margin-bottom: 1em;
    margin-top: 1em;
    grid-area: 6/1;
  }
  .shards[data-v-41863a3e] {
    margin-top: 1em;
    grid-area: 5/1;
  }
  .runes[data-v-cf683915] {
    grid-area: 2/1;
  }

  .runes[data-v-cf683915]:nth-child(4) {
    grid-area: 4/1;
  }
  .runes .rune.slot-1-pos-0[data-v-cf683915] {
    display: none;
  }
  .runesPage > .wrap[data-v-6a49ead9] {
    grid-template-columns: min-content;
    place-content: center;
    margin-top: 0.5em;
    grid-gap: 10px;
  }
  .runesPage > .wrap .path[data-v-6a49ead9] {
    grid-area: 1/1;
  }

  .runesPage > .wrap .path[data-v-6a49ead9]:nth-child(2) {
    grid-area: 3/1;
    margin-top: 1em;
  }
  .runesPage > .wrap .path .wrap button.disabled[data-v-6a49ead9] {
    display: none;
  }
}

@media (max-width: 600px) {
  .home .hero .intro[data-v-bc2e9baf] {
    font-size: 12px;
  }
  .home .builds[data-v-bc2e9baf] {
    --sheetSize: 12;
    font-size: calc(var(--sheetSize) * 1px);
  }
}

@media (max-width: 550px) {
  .builds[data-v-78e8b174] {
    width: 312px;
  }
}

@media (max-width: 500px) {
  .randomizer > .sheet[data-v-ce46e812] {
    --sheetSize: 13;
  }
  .item-page > .wrap .side[data-v-7541897a] {
    --thumb: 1.8em;
    --gap: 6px 4px;
  }
  .builds[data-v-8886a6d1] {
    --sheetSize: 12;
  }
  .err .text[data-v-1829b3fc] {
    font-size: 1em;
  }
  .build > .wrap > .sheet[data-v-ca5b300e] {
    --sheetSize: 14;
  }
  .build > .wrap > .stats[data-v-ca5b300e] {
    display: none;
  }
  .build .menu[data-v-c3d704f8] {
    margin-bottom: -1em;
    font-size: 14px;
  }
  .build .menu a .short[data-v-c3d704f8] {
    display: inline;
  }

  .build .menu a .long[data-v-c3d704f8] {
    display: none;
  }
  .build .menu .arrow[data-v-c3d704f8] {
    --s: 0.5em;
    margin: 0 0.4em;
  }
  .info form .desc[data-v-7d7977fb] {
    width: 100%;
  }
  .info form label[data-v-7d7977fb] {
    width: 255px;
  }
  form label {
    width: 100%;
  }
  form label.small {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .home .builds[data-v-bc2e9baf] {
    --sheetSize: 10;
    font-size: calc(var(--sheetSize) * 1px);
  }
}

@media (max-width: 374px) {
  .home .builds[data-v-bc2e9baf] {
    padding: 0;
  }
  .home .builds > .wrap .build[data-v-bc2e9baf]:nth-child(1) {
    display: none;
  }
  .home .builds > .wrap .build[data-v-bc2e9baf]:nth-child(2) {
    display: none;
  }
  .home .builds > .wrap .build[data-v-bc2e9baf]:nth-child(3) {
    position: relative;
    right: 0;
    top: 0;
  }
}
