.tree[data-v-55f3fb95] {
  flex-direction: column;
  place-items: center;
  gap: var(--gap);
  display: flex;
}

.tree > .item[data-v-55f3fb95] {
  position: relative;
}

.tree > .item > .cost[data-v-55f3fb95] {
  margin-top: calc(var(--itemSize) / -2 - 2px);
  font-size: calc(var(--itemSize) / 3.6);
  color: var(--sand-4);
  align-items: center;
  position: absolute;
  margin-left: 0.8em;
  font-weight: 500;
  display: flex;
  left: 100%;
  bottom: 0;
  top: 0;
}

.tree .from[data-v-55f3fb95] {
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  margin-top: 0.15em;
  gap: var(--gap);
  display: grid;
}

.tree > .item[data-v-55f3fb95] {
  position: relative;
}

.tree > .item > .cost[data-v-55f3fb95] {
  margin-top: calc(var(--itemSize) / -2 - 2px);
  font-size: calc(var(--itemSize) / 3.6);
  color: var(--sand-4);
  align-items: center;
  position: absolute;
  margin-left: 0.8em;
  font-weight: 500;
  display: flex;
  left: 100%;
  bottom: 0;
  top: 0;
}
