:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;

  --title-xs: 1.5rem;
  --title-sm: 1.75rem;
  --title-base: 2rem;
  --title-lg: 2.25rem;
  --title-xl: 2.5rem;

  --border-size: 3px;

  --width-all: 100%;

  --height-all: 100%;

  --rune-size-mobile: 40px;
  --rune-size-desktop: 48px;
  --keystone-size-mobile: 50px;
  --keystone-size-desktop: 64px;
  --spacing-mobile: 12px;
  --spacing-desktop: 16px;
  --small-size-mobile: 40px;
  --small-size-desktop: 36px;
  --selector-item-size-mobile: 40px;
  --selector-item-size-desktop: 48px;

  --item-size-mobile: 40px;
  --item-size-desktop: 48px;
  --item-small-size-mobile: 32px;
  --item-small-size-desktop: 40px;
  --grid-gap-mobile: 8px;
  --grid-gap-desktop: 16px;
}
