.accord > .split > .items[data-v-df4f914a] {
  padding: 1.5em 1em 1em;
  flex-direction: column;
  grid-area: 1/1;
  display: flex;
  width: 100%;
  gap: 1em;
  --itemBorder: var(--gold-lol);
  --itemText: var(--slate-1);
  --itemTextSize: 0.3em;
  --itemSize: 2.7em;
}

.accord > .split > .items .group .name[data-v-df4f914a] {
  color: var(--slate-2);
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 0.9em;
}

.accord > .split > .items .group > .items[data-v-df4f914a] {
  gap: 0.2em 0.5em;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.accord > .split > .otps[data-v-df4f914a] {
  border-left: 1px solid var(--slate-6);
  flex-direction: column;
  min-width: min-content;
  padding: 0.5em 0.8em;
  grid-area: 1/2/3;
  flex-wrap: wrap;
  display: flex;
  width: 7em;
}

.accord > .split > .otps .otp[data-v-df4f914a] {
  transition: var(--transition);
  color: var(--slate-3);
  white-space: nowrap;
  align-items: center;
  border-radius: 4px;
  padding: 0.2em 0;
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  gap: 0.25em;
}

.accord > .split > .otps .otp.on[data-v-df4f914a] {
  color: var(--slate-1);
}

.accord > .split > .otps .otp .rank[data-v-df4f914a] {
  display: inline-block;
  height: var(--size);
  width: var(--size);
  --size: 1em;
}

.accord > .split > .otps .otp .rank img[data-v-df4f914a] {
  display: block;
  height: 100%;
  width: 100%;
}

.accord > .split > .sides[data-v-df4f914a] {
  border-top: 1px solid var(--slate-6);
  text-transform: capitalize;
  justify-content: right;
  color: var(--slate-4);
  font-size: 0.75em;
  font-weight: 500;
  cursor: default;
  grid-area: 2/1;
  display: flex;
  padding: 1em;
  gap: 1em;
}

.accord .teams .team .players:not(:hover) .player.pro[data-v-d78f5362] > .line {
  background-color: var(--slate-6);
}

.accord[data-v-df4f914a] {
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  display: flex;
}

.accord .paths[data-v-df4f914a] {
  border-bottom: 1px solid var(--slate-6);
  justify-content: space-between;
  padding: 1em 1em 1.5em;
  display: flex;
  width: 100%;
  gap: 1.5em;
}

.accord .paths .runes[data-v-df4f914a] {
  gap: 0.5em 0.6em;
  display: grid;
}

.accord .paths .runes .rune[data-v-df4f914a] {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 0.1em;
  --runeSize: 2.1em;
}

.accord .paths .runes .rune.main[data-v-df4f914a] {
  --runeBorder: var(--gold-lol);
}

.accord .paths .runes .rune.hide[data-v-df4f914a] {
  --runeFilter: brightness(0.45);
}

.accord .paths .runes .rune.hide .pct[data-v-df4f914a] {
  opacity: 0.25;
}

.accord .paths .runes .rune .pct[data-v-df4f914a] {
  color: var(--slate-1);
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
  cursor: default;
  width: 4ch;
}

.accord > .split[data-v-df4f914a] {
  grid-template-columns: 1fr min-content;
  display: grid;
  width: 100%;
}

.accord > .split > .items[data-v-df4f914a] {
  padding: 1.5em 1em 1em;
  flex-direction: column;
  grid-area: 1/1;
  display: flex;
  width: 100%;
  gap: 1em;
  --itemBorder: var(--gold-lol);
  --itemText: var(--slate-1);
  --itemTextSize: 0.3em;
  --itemSize: 2.7em;
}

.accord > .split > .items .group .name[data-v-df4f914a] {
  color: var(--slate-2);
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 0.9em;
}

.accord > .split > .items .group > .items[data-v-df4f914a] {
  gap: 0.2em 0.5em;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.accord > .split > .otps[data-v-df4f914a] {
  border-left: 1px solid var(--slate-6);
  flex-direction: column;
  min-width: min-content;
  padding: 0.5em 0.8em;
  grid-area: 1/2/3;
  flex-wrap: wrap;
  display: flex;
  width: 7em;
}

.accord > .split > .otps .otp[data-v-df4f914a] {
  transition: var(--transition);
  color: var(--slate-3);
  white-space: nowrap;
  align-items: center;
  border-radius: 4px;
  padding: 0.2em 0;
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  gap: 0.25em;
}

.accord > .split > .otps .otp.on[data-v-df4f914a] {
  color: var(--slate-1);
}

.accord > .split > .otps .otp .rank[data-v-df4f914a] {
  display: inline-block;
  height: var(--size);
  width: var(--size);
  --size: 1em;
}

.accord > .split > .otps .otp .rank img[data-v-df4f914a] {
  display: block;
  height: 100%;
  width: 100%;
}

.accord > .split > .sides[data-v-df4f914a] {
  border-top: 1px solid var(--slate-6);
  text-transform: capitalize;
  justify-content: right;
  color: var(--slate-4);
  font-size: 0.75em;
  font-weight: 500;
  cursor: default;
  grid-area: 2/1;
  display: flex;
  padding: 1em;
  gap: 1em;
}

.accord[data-v-d78f5362] {
  border: 1px solid var(--slate-4);
  background-color: var(--black);
  border-radius: 0 0 4px 4px;
  container-type: inline-size;
  border-top: 0;
  width: 100%;
  z-index: 1;
  gap: 2em;
}

.accord .teams[data-v-d78f5362] {
  border-top: 1px solid var(--slate-6);
  --border: 1px solid var(--slate-5);
  flex-direction: column;
  padding-top: 1em;
  display: flex;
  gap: 2em;
}

.accord .teams .team[data-v-d78f5362]:first-child {
  border-bottom: var(--border);
}

.accord .teams .team .header[data-v-d78f5362] {
  align-items: flex-end;
  margin: 0.2em 0.5em;
  display: flex;
  gap: 0.5em;
}

.accord .teams .team .header .title[data-v-d78f5362] {
  line-height: 1.25em;
  font-weight: 600;
}

.accord .teams .team .header .title.win[data-v-d78f5362] {
  color: var(--sea-1);
}

.accord .teams .team .header .title[data-v-d78f5362]:not(.win) {
  color: var(--red);
}

.accord .teams .team .header .side[data-v-d78f5362] {
  text-transform: capitalize;
  color: var(--slate-4);
  font-weight: 500;
  font-size: 0.7em;
}

.accord .teams .team .header .objectives[data-v-d78f5362] {
  line-height: 1.3em;
  color: var(--slate-4);
  margin-left: auto;
  font-size: 0.75em;
  font-weight: 500;
  display: flex;
}

.accord .teams .team .header .objectives .name[data-v-d78f5362] {
  margin: 0 0.2em 0 1em;
}

.accord .teams .team .header .objectives .name[data-v-d78f5362]:after {
  content: ':';
}

.accord .teams .team .players:not(:hover) .player.pro[data-v-d78f5362] > .line {
  background-color: var(--slate-6);
}
