.main.buildsCompare {
  max-width: 2000px;
}

.app .terms {
  color: var(--slate-4);
  position: absolute;
  margin: 0.6em 1em;
  font-size: 0.8em;
  font-weight: 600;
  bottom: 0;
  right: 0;
  --tooltipBorder1: var(--slate-1);
  --tooltipBorder2: var(--slate-2);
  --tooltip: var(--slate-1);
  --tooltipMaxWidth: 390px;
  --tooltipTextSize: 13px;
  --tooltipPad: 0.8em 1em;
}

.app .terms .term {
  user-select: none;
  cursor: default;
}

.app {
  grid-template-rows: repeat(2, min-content);
  background: var(--3fa16732);
  background-attachment: fixed;
  padding: 0.8em 1em 4em;
  position: relative;
  display: grid;
}
