.window-build {
  place-self: center;
  max-width: 1280px;
  width: 100%;
}

.build {
  grid-template-columns: min-content 1fr;
  grid-auto-flow: dense;
  display: grid;
  gap: 1.5em;
}

.build .core-build {
  flex-direction: column;
  margin-bottom: 2em;
  grid-area: 2/2/6;
  display: flex;
  gap: 2em;
}

/* Bouton suivant en BeaufortForLoL pour l'aspect navigation */
.suivant {
  font-family: var(--font-beaufort);
  justify-content: center;
  font-size: 0.75em;
  max-width: fit-content;
  margin: 0 auto;
  border: 2px solid var(--nox-grey3);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--nox-grey2);
  border-radius: 15px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  max-width: 15em;
  padding: 0.7em;
  display: flex;
  width: 100%;
}

/* Descriptions et textes en Spiegel */
.build-description {
  font-family: var(--font-spiegel);
}

/* Titres de section en BeaufortForLoL */
.build-section-title {
  font-family: var(--font-beaufort);
}

@media (max-width: 1000px) {
  .build .core-build {
    grid-area: 2/1 / auto/-1;
    margin-bottom: 0;
  }

  .build {
    gap: 0.5em !important;
  }
}
