.champions .list > .filter {
  grid-area: auto/1/auto/-1;
  display: inline-flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
  gap: 0.5em;
}
.champ-block .spells {
  flex-direction: column;
  margin-top: 1em;
  display: flex;
  gap: 0.8em;
}

.champ-block .spells .spell {
  flex-shrink: 0;
  display: flex;
  gap: 0.75em;
}

.champ-block .spells .spell:nth-child(2) .img:before {
  content: 'Q';
}

.champ-block .spells .spell:nth-child(3) .img:before {
  content: 'W';
}

.champ-block .spells .spell:nth-child(4) .img:before {
  content: 'E';
}

.champ-block .spells .spell:nth-child(5) .img:before {
  content: 'R';
}

.champ-block .spells .spell .img {
  border: 1px solid var(--gold-lol);
  position: relative;
  margin-top: 0.1em;
  height: var(--s);
  width: var(--s);
  flex-shrink: 0;
  --s: 2.6em;
}

.champ-block .spells .spell .img:before {
  color: var(--gold-lol);
  position: absolute;
  font-size: 0.85em;
  font-weight: 400;
  bottom: -0.15em;
  left: 0.1em;
  text-shadow:
    1px 1px 0 var(--black),
    -1px 1px 0 var(--black),
    -1px -1px 0 var(--black),
    1px -1px 0 var(--black);
}

.champ-block .spells .spell .img img {
  display: flex;
  height: 100%;
  width: 100%;
}

.champ-block .spells .spell .desc {
  font-size: 13px;
}

.champ-block .break {
  background-color: var(--sand-4);
  display: block;
  margin: 1em 0;
  width: 100%;
  height: 1px;
}

.champ-block .info {
  grid-template-columns: min-content 1fr;
  align-items: center;
  grid-auto-flow: row;
  gap: 0em 0.7em;
  display: grid;
}

.champ-block .info .name {
  text-transform: capitalize;
  align-items: center;
  color: var(--gold-lol);
  font-weight: 500;
  font-size: 12px;
  display: flex;
}

.champ-block .info .name.difficulty {
  color: var(--slate-2);
}

.champ-block .info .line {
  background-color: var(--gold-lol);
  border-radius: 2px;
  height: 5px;
}

.champ-block .info .line.difficulty {
  background-color: var(--slate-2);
}
