.championsPage .list {
  grid-template-columns: repeat(auto-fit, var(--champSizeButton));
  place-content: center;
  display: grid;
  width: var(--width-all);
}

.championsPage .list > .filter {
  grid-area: auto/1/auto/-1;
  display: inline-flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
  gap: 0.5em;
}

.filter button {
  border: 1px solid var(--color-gold-300);
}

.champ {
  border: var(--border-size) solid transparent;
  position: relative;
  height: var(--champSizeButton);
  width: var(--champSizeButton);
  background-color: unset;
  font-family: var(--font-B);
  display: inline-block;
  line-height: 1rem;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  font-size: var(--text-base);
  color: unset;
  padding: 0;
  margin: 0;
}

.champ.hide img {
  filter: grayscale(1) brightness(0.4);
}

.champ img {
  display: block;
  height: var(--height-all);
  width: var(--width-all);
}

.championsPage {
  --size: 54px;
}

.champion {
  border: var(--border-size) solid var(--champBorder);
  height: var(--champSize);
  width: var(--champSize);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.champion img {
  position: absolute;
  width: 116%;
  --s: 50%;
  top: var(--s);
  left: var(--s);
  transform: translate(calc(var(--s) * -1), calc(var(--s) * -1));
  filter: var(--champImgFilter);
}

@media (max-width: 700px) {
  .championsPage {
    --champSizeButton: 50px;
  }
}

@media (hover: hover) {
  .championsPage .list .champ:hover {
    border-color: var(--color-gold-300);
    z-index: 1;
  }
}
