.compare > .wrap[data-v-b8a09d72] {
  overflow: hidden;
  --labelsWidth: 80px;
  --gap: 2em;
}

.compare > .wrap .top[data-v-b8a09d72] {
  margin-left: calc(var(--labelsWidth) + var(--gap));
}

.compare > .wrap .flow[data-v-b8a09d72] {
  overflow-x: auto;
  width: 100%;
}

.compare > .wrap .sections[data-v-b8a09d72] {
  grid-template-columns: max-content repeat(var(--54aaf63c), min-content);
  width: max-content;
  gap: 0 var(--gap);
  margin: 0 auto;
  display: grid;
}

.compare > .wrap .sections .labels[data-v-b8a09d72] {
  text-transform: uppercase;
  color: var(--slate-2);
}

.compare > .wrap .sections .labels > div[data-v-b8a09d72]:not(.info) {
  width: var(--labelsWidth);
  flex-direction: column;
  line-height: 14px;
  font-weight: 600;
  display: flex;
}

.compare > .wrap .sections .labels > div:not(.info) .text[data-v-b8a09d72] {
  margin-bottom: 0.1em;
  font-size: 0.8em;
}

.compare
  > .wrap
  .sections
  .labels
  > div:not(.info)
  .text
  span[data-v-b8a09d72] {
  font-size: 0.85em;
  display: block;
}

.compare
  > .wrap
  .sections
  .labels
  > div[data-v-b8a09d72]:not(.info):not(:first-child) {
  border-right: 1px dashed var(--slate-5);
  padding-right: 1rem;
}

.compare > .wrap .sections .labels > .sheet[data-v-b8a09d72] {
  align-items: center;
  margin-top: 1em;
}

.compare > .wrap .sections .labels > .sheet.levels[data-v-b8a09d72] {
  margin-bottom: 5.25em;
  margin-top: auto;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72],
.compare > .wrap .sections > .build[data-v-b8a09d72] {
  display: contents;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > div,
.compare > .wrap .sections > .build[data-v-b8a09d72] > div {
  margin-bottom: 3rem;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > div.note,
.compare > .wrap .sections > .build[data-v-b8a09d72] > div.note {
  display: flex;
  gap: 0.4em;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > .sheet,
.compare > .wrap .sections > .build[data-v-b8a09d72] > .sheet {
  grid-area: 2 / auto/2/auto;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > .stats,
.compare > .wrap .sections > .build[data-v-b8a09d72] > .stats {
  grid-area: 3 / auto/3/auto;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > .itemEffects,
.compare > .wrap .sections > .build[data-v-b8a09d72] > .itemEffects {
  grid-area: 4 / auto/4/auto;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > .stats,
.compare > .wrap .sections > .build[data-v-b8a09d72] > .stats {
  width: 100%;
}

.compare[data-v-b8a09d72] {
  display: grid;
}

.compare > .wrap[data-v-b8a09d72] {
  overflow: hidden;
  --labelsWidth: 80px;
  --gap: 2em;
}

.compare > .wrap .top[data-v-b8a09d72] {
  margin-left: calc(var(--labelsWidth) + var(--gap));
}

.compare > .wrap .flow[data-v-b8a09d72] {
  overflow-x: auto;
  width: 100%;
}

.compare > .wrap .sections[data-v-b8a09d72] {
  grid-template-columns: max-content repeat(var(--54aaf63c), min-content);
  width: max-content;
  gap: 0 var(--gap);
  margin: 0 auto;
  display: grid;
}

.compare > .wrap .sections .labels[data-v-b8a09d72] {
  text-transform: uppercase;
  color: var(--slate-2);
}

.compare > .wrap .sections .labels > div[data-v-b8a09d72]:not(.info) {
  width: var(--labelsWidth);
  flex-direction: column;
  line-height: 14px;
  font-weight: 600;
  display: flex;
}

.compare > .wrap .sections .labels > div:not(.info) .text[data-v-b8a09d72] {
  margin-bottom: 0.1em;
  font-size: 0.8em;
}

.compare
  > .wrap
  .sections
  .labels
  > div:not(.info)
  .text
  span[data-v-b8a09d72] {
  font-size: 0.85em;
  display: block;
}

.compare
  > .wrap
  .sections
  .labels
  > div[data-v-b8a09d72]:not(.info):not(:first-child) {
  border-right: 1px dashed var(--slate-5);
  padding-right: 1rem;
}

.compare > .wrap .sections .labels > .sheet[data-v-b8a09d72] {
  align-items: center;
  margin-top: 1em;
}

.compare > .wrap .sections .labels > .sheet.levels[data-v-b8a09d72] {
  margin-bottom: 5.25em;
  margin-top: auto;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72],
.compare > .wrap .sections > .build[data-v-b8a09d72] {
  display: contents;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > div,
.compare > .wrap .sections > .build[data-v-b8a09d72] > div {
  margin-bottom: 3rem;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > div.note,
.compare > .wrap .sections > .build[data-v-b8a09d72] > div.note {
  display: flex;
  gap: 0.4em;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > .sheet,
.compare > .wrap .sections > .build[data-v-b8a09d72] > .sheet {
  grid-area: 2 / auto/2/auto;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > .stats,
.compare > .wrap .sections > .build[data-v-b8a09d72] > .stats {
  grid-area: 3 / auto/3/auto;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > .itemEffects,
.compare > .wrap .sections > .build[data-v-b8a09d72] > .itemEffects {
  grid-area: 4 / auto/4/auto;
}

.compare > .wrap .sections > .labels[data-v-b8a09d72] > .stats,
.compare > .wrap .sections > .build[data-v-b8a09d72] > .stats {
  width: 100%;
}
