@container (max-width: 780px) {
  .build {
    pointer-events: none;
  }
}

@container (min-width: 750px) {
  .build .open {
    border-radius: 4px 4px 0 0;
    border-color: var(--slate-4);
    border-bottom: none;
  }

  @container (max-width: 475px) {
    .build .open {
      width: 21rem;
    }
  }
}
@container (max-width: 780px) {
  .build .info {
    grid-area: 1/1 / auto/auto;
  }
}

@container (max-width: 780px) {
  .build .pro {
    grid-area: 1/1 / auto/auto;
    justify-self: center;
    text-align: center;
    margin-right: 0;
  }
}

@container (max-width: 475px) {
  .build .pro {
    grid-area: 1/2 / auto/auto;
    margin-left: -3.5em;
    text-align: center;
    justify-self: left;
  }
}

@container (max-width: 780px) {
  .build .pro .name {
    width: 14ch;
  }
}

@container (max-width: 780px) {
  .build .match {
    grid-area: 1/1 / auto/auto;
    justify-self: right;
    margin-right: -2em;
  }
}

@container (max-width: 475px) {
  .build .match {
    grid-area: 1/2 / auto/auto;
    justify-self: right;
    text-align: right;
    margin: 0;
  }
}

@container (max-width: 970px) {
  .line.l-pro {
    font-size: 0.9em;
  }
}

@container (max-width: 880px) {
  .line.l-pro {
    font-size: 0.8em;
  }
}

@container (max-width: 780px) {
  .line.l-pro {
    place-content: stretch;
    font-size: 0.9em;
    display: grid;
  }
}

@container (max-width: 475px) {
  .line.l-pro {
    place-content: stretch;
    max-width: 100%;
    display: grid;
    gap: 1em;
  }
}

@container (max-width: 970px) {
  .line.l-pro {
    font-size: 0.9em;
  }
}

@container (max-width: 880px) {
  .line.l-pro {
    font-size: 0.8em;
  }
}

@container (max-width: 780px) {
  .line.l-pro {
    place-content: stretch;
    font-size: 0.9em;
    display: grid;
  }
}

@container (max-width: 475px) {
  .line.l-pro {
    place-content: stretch;
    max-width: 100%;
    display: grid;
    gap: 1em;
  }
}

@container (max-width: 780px) {
  .l-pro.line .champions {
    grid-area: 1/2 / auto/auto;
    justify-self: right;
  }
}

@container (max-width: 475px) {
  .l-pro.line .champions {
    grid-area: 2/1 / auto/auto;
    justify-self: left;
  }
}
@container (max-width: 780px) {
  .l-pro.line .runes {
    grid-area: 2/2 / auto/auto;
  }
}

@container (max-width: 475px) {
  .l-pro.line .runes {
    grid-area: 2/2 / auto/auto;
    justify-self: right;
  }
}
@container (max-width: 780px) {
  .l-pro.line .sumsItems {
    grid-area: 2/1 / auto/auto;
  }
}

@container (max-width: 475px) {
  .l-pro.line .sumsItems {
    grid-area: 3/1 / auto/3;
    justify-self: right;
  }
}

@container (max-width: 970px) {
  .accord {
    font-size: 0.95em;
  }
}

@container (max-width: 880px) {
  .accord {
    font-size: 0.9em;
  }
}

@container (max-width: 750px) {
  .accord {
    display: none;
  }
}

@container (max-width: 780px) {
  .build {
    pointer-events: none;
  }
}

@container (min-width: 750px) {
  .build .open {
    border-radius: 4px 4px 0 0;
    border-color: var(--slate-4);
    border-bottom: none;
  }

  @container (max-width: 475px) {
    .build .open {
      width: 21rem;
    }
  }
}

@container (max-width: 780px) {
  .build .info {
    grid-area: 1/1 / auto/auto;
  }
}

@container (max-width: 780px) {
  .build .pro {
    grid-area: 1/1 / auto/auto;
    justify-self: center;
    text-align: center;
    margin-right: 0;
  }
}

@container (max-width: 475px) {
  .build .pro {
    grid-area: 1/2 / auto/auto;
    margin-left: -3.5em;
    text-align: center;
    justify-self: left;
  }
}
@container (max-width: 780px) {
  .build .pro .name {
    width: 14ch;
  }
}

@container (max-width: 780px) {
  .build .match {
    grid-area: 1/1 / auto/auto;
    justify-self: right;
    margin-right: -2em;
  }
}

@container (max-width: 475px) {
  .build .match {
    grid-area: 1/2 / auto/auto;
    justify-self: right;
    text-align: right;
    margin: 0;
  }
}
