@font-face {
  font-family: 'BeaufortForLoL';
  src:
    url('../fonts/BeaufortforLOL-Bold.ttf') format('opentype'),
    url('../fonts/BeaufortforLOL-Regular.ttf') format('opentype'),
    url('../fonts/BeaufortforLOL-Medium.ttf') format('opentype'),
    url('../fonts/BeaufortforLOL-Light.ttf') format('opentype'),
    url('../fonts/BeaufortforLOL-Heavy.ttf') format('opentype'),
    url('../fonts/BeaufortforLOL-Italic.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeaufortForLoL';
  src: url('../fonts/BeaufortforLOL-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
