@font-face {
  font-display: fallback;
  font-family: 'BeaufortForLoL';
  src: url('../fonts/BeaufortforLOL-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'BeaufortForLoL';
  src: url('../fonts/BeaufortforLOL-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: fallback;
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
