.footer {
  bottom: 0;
  width: var(--width-all);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connect {
  font-size: var(--text-base);
  color: var(--color-grey-100);
  padding: 0 1rem;
}

.right {
  font-size: var(--text-base);
  padding: 0 1rem;
}

.footer-link {
  color: var(--color-grey-100);
  transition: color 0.2s ease;
}

.footer-link:hover {
  text-decoration: underline;
  color: var(--color-grey-100);
}

@media (min-width: 767px) {
  .footer {
    position: fixed;
  }
}
