.grid {
  grid-template-columns: min-content 1fr;
  position: relative;
  max-width: 1244px;
  display: grid;
  gap: 1em 2em;
  width: 100%;
}

.grid .empty {
  color: var(--slate-2);
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  width: 100%;
  top: 1.5em;
  right: 0;
  left: 0;
}
.grid {
  grid-template-columns: repeat(auto-fit, var(--itemSize));
  place-content: center;
  display: grid;
  --itemSize: 3.6em;
  --itemPad: 0.1em;
}

.grid.small {
  --itemSize: 3.2em;
}

.grid .search {
  grid-area: auto/1/auto/-1;
}

.grid .group {
  grid-area: auto/1/auto/-1;
  color: var(--slate-2);
  margin-bottom: 0.4em;
  font-weight: 600;
}

.grid .group.small {
  font-size: 0.9em;
}

.grid .group.big {
  font-size: 1em;
}

.grid .divider {
  grid-area: auto/1/auto/-1;
  margin: 0.5em 0;
}

.grid {
  grid-template-columns: min-content 1fr;
  position: relative;
  max-width: 1244px;
  display: grid;
  gap: 1em 2em;
  width: 100%;
}

.grid .empty {
  color: var(--slate-2);
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  width: 100%;
  top: 1.5em;
  right: 0;
  left: 0;
}
