.header .info {
  align-items: center;
  display: flex;
}

.header .info .img {
  margin-right: 10px;
  height: var(--s);
  width: var(--s);
  display: block;
  flex-shrink: 0;
  --s: 50px;
}

.header .info .text {
  line-height: 1.2em;
}

.header .info .text .name {
  margin-bottom: 0.1em;
  font-weight: 600;
  font-size: 15px;
}

.header .info .text .title {
  color: var(--sand-4);
  font-weight: 600;
  font-size: 13px;
}

.header .tags {
  color: var(--sand-4);
  margin-top: 0.2em;
  display: flex;
  gap: 0.5em;
}

.header .tags .tag {
  font-weight: 600;
  font-size: 12px;
}

.header > .img {
  border: 1px solid var(--gold-lol);
  margin-right: 10px;
  overflow: hidden;
  height: var(--s);
  width: var(--s);
  display: block;
  --s: 32px;
}

.header > .img > img {
  display: block;
  height: 100%;
  width: 100%;
}

.header .name {
  font-weight: 600;
  font-size: 15px;
}

.header[data-v-ab218c16] {
  margin-bottom: 0.2em;
  align-items: center;
  display: flex;
}

.header > .img[data-v-ab218c16] {
  border: 1px solid var(--gold-lol);
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  height: 32px;
  width: 32px;
}

.header > .img.path[data-v-ab218c16] {
  --s: 75%;
}

.header > .img > img[data-v-ab218c16] {
  height: var(--s, 100%);
  width: var(--s, 100%);
  display: block;
}

.header > .name[data-v-ab218c16] {
  font-weight: 600;
  font-size: 15px;
}
