@charset "UTF-8";
@import './new/background.css';
@import './new/footer.css';
@import './new/menu.css';
@import './new/home.css';
@import './new/dictionnaire.css';
@import './new/proposition-dictionnaire.css';
@import './new/variable.css';
@import './new/build.css';
@import './new/champion.css';
@import './new/form.css';
@import './new/tooltip.css';
@import './new/rune.css';
@import './new/item.css';

.fstyle .space,
.fstyle ul {
  margin: 0.5em 0;
}

.sortable-chosen .sheet > .wrap {
  background: var(--1c64872f);
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-position: inside;
}

.fstyle {
  font-size: 1em;
}

.fstyle * {
  text-decoration: none !important;
  border-bottom: 0px !important;
  cursor: auto !important;
  font-size: 1em;
  margin: 0;
}

.fstyle .space,
.fstyle ul {
  margin: 0.5em 0;
}

.fstyle span {
  white-space: unset !important;
}

.fstyle span:empty {
  display: none;
}

.fstyle span img {
  --size: 1.2em;
  vertical-align: sub;
  height: var(--size);
  min-width: var(--size);
}

.fstyle sup {
  display: none;
}

:root {
  --itemBorderH: var(--gold-lol);
  --itemBorder: var(--gold-lol);
}

.tip .into {
  gap: 0.3em 0.5em;
  flex-wrap: wrap;
  display: flex;
}

.sortable-chosen .sheet > .wrap {
  background: var(--1c64872f);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--slate-1);
  margin: 0;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--slate-1);
  font-weight: 600;
  font-size: 1.8em;
  margin: 0 0 1.7em;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul,
li {
  list-style-position: inside;
}

img:not([src]) {
  visibility: hidden;
}

.btn {
  --color1: var(--gold-lol);
  --color2: oklch(from var(--color1) 65% c h);
  --linear: linear-gradient(to bottom, var(--color1), var(--color2));
  background-color: oklch(from var(--black) l c h/.4);
  border: 0.25em solid var(--color1);
  border-image-source: var(--linear);
  border-image-slice: 1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color1);
  display: inline-flex;
  padding: 0.5em 1.4em;
  font-family: inherit;
  height: min-content;
  white-space: nowrap;
  width: min-content;
  line-height: 1.33em;
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
  gap: 0.5em;
  align-items: center;
}

.btn.off {
  filter: brightness(0.4) grayscale(0.8);
  cursor: default;
}

.btn.active {
  border-image-source: none;
  background: var(--color1);
  filter: brightness(1);
  color: var(--black);
}

.btn.medium {
  padding: 0.5em 0.85em;
  font-size: 0.9em;
}

.btn.small {
  padding: 0.45em 0.85em;
  font-size: 0.8em;
}

.btn.slate {
  --color1: var(--slate-2);
  --color2: oklch(from var(--color1) 60% c h);
}

.btn.sea {
  --color1: var(--sea-1);
  --color2: oklch(from var(--color1) 60% c h);
}

.btn.back:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
  display: inline-flex;
  margin-bottom: 0.1em;
  height: 1em;
  width: 1em;
}
