@charset "UTF-8";
@import './accord.css';
@import './app.css';
@import './build.css';
@import './builds.css';
@import './champion.css';
@import './compare.css';
@import './container.css';

@import './err.css';
@import './filter.css';
@import './font.css';
@import './form.css';
@import './grid.css';
@import './header.css';
@import './info.css';
@import './item.css';
@import './keyframe.css';
@import './level.css';
@import './line.css';
@import './loading.css';
@import './media.css';
@import './note.css';
@import './pick.css';
@import './player.css';
@import './rune.css';
@import './shard.css';
@import './sheet.css';
@import './stats.css';
@import './summoner.css';
@import './support.css';
@import './tooltip.css';
@import './tree.css';

@import './new/background.css';
@import './new/footer.css';
@import './new/menu.css';
@import './new/home.css';
@import './new/dictionnaire.css';
@import './new/proposition-dictionnaire.css';
@import './new/variable.css';
@import './new/build.css';
@import './new/champion.css';
@import './new/form.css';
@import './new/base.css';

[data-v-5bc51be1] {
  --tooltipMaxWidth: 640px;
}

.fstyle[data-v-5ad5f5e7] .space,
.fstyle[data-v-5ad5f5e7] ul {
  margin: 0.5em 0;
}

.sortable-chosen .sheet > .wrap[data-v-15310f80] {
  background: var(--1c64872f);
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-position: inside;
}

[data-v-5bc51be1] {
  --tooltipMaxWidth: 640px;
}

.fstyle[data-v-5ad5f5e7] {
  font-size: 1em;
}

.fstyle[data-v-5ad5f5e7] * {
  text-decoration: none !important;
  border-bottom: 0px !important;
  cursor: auto !important;
  font-size: 1em;
  margin: 0;
}

.fstyle[data-v-5ad5f5e7] .space,
.fstyle[data-v-5ad5f5e7] ul {
  margin: 0.5em 0;
}

.fstyle[data-v-5ad5f5e7] span {
  white-space: unset !important;
}

.fstyle[data-v-5ad5f5e7] span:empty {
  display: none;
}

.fstyle[data-v-5ad5f5e7] span img {
  --size: 1.2em;
  vertical-align: sub;
  height: var(--size);
  min-width: var(--size);
}

.fstyle[data-v-5ad5f5e7] sup {
  display: none;
}

[data-v-85ffd0f2] {
  --itemBorderH: var(--gold-lol);
  --itemBorder: var(--gold-lol);
}

.tip .into[data-v-354b7b55] {
  gap: 0.3em 0.5em;
  flex-wrap: wrap;
  display: flex;
}

[data-v-bab95e98] {
  --tooltipMaxWidth: 540px;
}

[data-v-ad54ad37] {
  --tooltipPad: 0.4em 0.8em;
  --tooltipTextSize: 13px;
  --tooltipMinWidth: 0;
}

[data-v-ab218c16] {
  --tooltipMaxWidth: 540px;
}

.sortable-chosen .sheet > .wrap[data-v-15310f80] {
  background: var(--1c64872f);
}

/* 
button {
  background-color: unset;
  font-family: var(--font);
  display: inline-block;
  line-height: 1rem;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  font-size: 1em;
  color: unset;
  border: none;
  padding: 0;
  margin: 0;
} */

* {
  box-sizing: border-box;
}

body {
  color: var(--slate-1);
  margin: 0;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--slate-1);
  font-weight: 600;
  font-size: 1.8em;
  margin: 0 0 1.7em;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul,
li {
  list-style-position: inside;
}

img:not([src]) {
  visibility: hidden;
}

.btn {
  --color1: var(--gold-lol);
  --color2: oklch(from var(--color1) 65% c h);
  --linear: linear-gradient(to bottom, var(--color1), var(--color2));
  background-color: oklch(from var(--black) l c h/.4);
  border: 0.25em solid var(--color1);
  border-image-source: var(--linear);
  border-image-slice: 1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color1);
  display: inline-flex;
  padding: 0.5em 1.4em;
  font-family: inherit;
  height: min-content;
  white-space: nowrap;
  width: min-content;
  line-height: 1.33em;
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
  gap: 0.5em;
  align-items: center;
}

.btn.off {
  filter: brightness(0.4) grayscale(0.8);
  cursor: default;
}

.btn.active {
  border-image-source: none;
  background: var(--color1);
  filter: brightness(1);
  color: var(--black);
}

.btn.medium {
  padding: 0.5em 0.85em;
  font-size: 0.9em;
}

.btn.small {
  padding: 0.45em 0.85em;
  font-size: 0.8em;
}

.btn.slate {
  --color1: var(--slate-2);
  --color2: oklch(from var(--color1) 60% c h);
}

.btn.sea {
  --color1: var(--sea-1);
  --color2: oklch(from var(--color1) 60% c h);
}

.btn.back:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
  display: inline-flex;
  margin-bottom: 0.1em;
  height: 1em;
  width: 1em;
}
