@media (hover: hover) {
  .sortable-chosen .tooltip :hover + .box {
    display: none;
  }
}

@media not (max-width: 600px) {
  .fstyle:not(.nopre) span[style*='color']:not(:has(*[style*='color'])),
  .fstyle:not(.nopre) span[style*='border-bottom'] {
    white-space: pre !important;
  }
}
@media (hover: hover) {
  .item:hover > .img {
    border-color: var(--itemBorderH, var(--itemBorder));
  }
}
@media (hover: hover) {
  .sheet > .wrap.hover:hover {
    background: var(--1c64872f);
  }
}
@media (hover: hover) {
  .summoners .list > .sum > button:hover {
    --sumBorder: var(--gold-lol);
  }
}
@media (hover: hover) {
  .shards > .shard > button.row:hover {
    --shardFilter: grayscale(0);
  }
}
@media (max-width: 680px) {
  .runes > .rune.slot-1-pos-0 {
    display: none;
  }
}
@media (hover: hover) {
  .runes > .rune > button:hover {
    --runeBorder: var(--gold-lol);
  }
}
@media (max-width: 680px) {
  .runesPage > .wrap {
    grid-template-columns: min-content;
    place-content: center;
    margin-top: 0.5em;
    grid-gap: 10px;
  }
}
@media (max-width: 680px) {
  .runesPage > .wrap .path {
    grid-area: 1/1;
  }

  .runesPage > .wrap .path:nth-child(2) {
    grid-area: 3/1;
    margin-top: 1em;
  }
}

@media (hover: hover) {
  .runesPage > .wrap .path > .rune:hover {
    --runeBorder: var(--gold-lol);
  }
}
@media (max-width: 680px) {
  .runesPage > .wrap .path > .rune.disabled {
    display: none;
  }
}
@media (max-width: 500px) {
  .randomizer > .sheet {
    --sheetSize: 13;
  }
}
@media (max-width: 1000px) {
  .item-page > .wrap {
    place-items: center;
  }
}

@media (max-width: 700px) {
  .item-page > .wrap {
    padding: 1.2em;
    gap: 1em 2em;
  }
}
@media (max-width: 1000px) {
  .item-page > .wrap > .header {
    grid-area: 1/1 / auto/-1;
  }
}

@media (max-width: 700px) {
  .item-page > .wrap > .header {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  .item-page > .wrap .body {
    grid-area: 2/1 / auto/-1;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .item-page > .wrap .body {
    font-size: 14px;
  }
}

@media (hover: hover) {
  .item-page > .wrap .body .wiki a:hover {
    color: var(--sand-3);
  }
}

@media (max-width: 1000px) {
  .item-page > .wrap .side {
    grid-area: 3/1 / auto/-1;
    margin-top: 1em;
  }
}

@media (max-width: 500px) {
  .item-page > .wrap .side {
    --gap: 6px 4px;
    --itemSize: 2.3em;
  }
}

@media (max-width: 1000px) {
  .item-page > .wrap .build {
    margin-top: 1em;
  }
}

@media (max-width: 700px) {
  .item-page > .wrap .build {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  .build > .wrap {
    grid-template-columns: min-content;
  }
}

@media (max-width: 1000px) {
  .build > .wrap > .sheet {
    text-align: center;
    position: relative;
    grid-area: unset;
    --sheetSize: 15;
    top: unset;
  }
}

@media (max-width: 500px) {
  .build > .wrap > .sheet {
    --sheetSize: 14;
  }
}

@media (max-width: 1000px) {
  .build > .wrap .hue {
    grid-area: unset;
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .build > .wrap .hue input {
    --s: 1.1em;
  }
}

@media (max-width: 1000px) {
  .build > .wrap .actions {
    place-content: center;
    grid-area: unset;
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .build > .wrap .actions .image {
    place-content: center;
    grid-area: unset;
  }
}
@media (max-width: 1000px) {
  .build > .wrap .actions .rest {
    place-content: center;
  }
}

@media (max-width: 1000px) {
  .build > .wrap > .stats {
    place-content: center;
    grid-area: unset;
  }
}

@media (max-width: 500px) {
  .build > .wrap > .stats {
    display: none;
  }
}

@media (hover: hover) {
  .build > .wrap > .stats > .pro:hover {
    filter: brightness(1.2);
  }
}

@media (max-width: 1000px) {
  .build > .wrap > .stats > .pro {
    display: none;
  }
}
@media (max-width: 1000px) {
  .build > .sheet {
    grid-area: 4/1 / auto/-1;
    place-self: center;
    --sheetSize: 14;
    display: none;
  }

  .build > .sheet.info {
    display: block;
  }
}

@media (max-width: 1000px) {
  .items-page > .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .items-page > .grid .side {
    display: none;
  }
}

@media not (max-width: 1000px) {
  .items-page > .grid .items .grid .search,
  .items-page > .grid .items .grid .filter {
    display: none;
  }
}
@media (max-width: 374px) {
  .home .builds > .wrap .build:nth-child(1) {
    display: none;
  }
}

@media (max-width: 374px) {
  .home .builds > .wrap .build:nth-child(2) {
    display: none;
  }
}

@media (max-width: 374px) {
  .home .builds > .wrap .build:nth-child(3) {
    position: relative;
    right: 0;
    top: 0;
  }
}

@media (hover: hover) {
  .accord > .split > .otps .otp:hover {
    color: var(--slate-2);
  }
}

@media (max-width: 1084px) {
  .stats {
    display: none;
  }
}
@media (hover: hover) {
  .stats .line:hover {
    background-color: var(--slate-6);
  }
}

@media (max-width: 1120px) {
  .filter {
    width: 14em;
  }
}

@media (max-width: 1084px) {
  .filter {
    position: static;
    display: flex;
    width: 100%;
  }
}
@media (max-width: 1084px) {
  .filter > .search {
    margin-bottom: -0.5em;
    grid-area: 1/1/2/3;
    place-self: center;
  }
}

@media (max-width: 1084px) {
  .filter .blocks {
    place-content: center;
    flex-direction: row;
    gap: 0.75em;
  }
}
@media (max-width: 1084px) {
  .filter .blocks .block {
    display: contents;
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .title {
    display: none;
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list {
    display: contents;
  }
}

@media (min-width: 1085px) {
  .filter .blocks .block .list .item:last-child {
    margin-bottom: 0;
  }
}

@media (hover: hover) {
  .filter .blocks .block .list .item:has(> .link:hover:not(.disabled)) {
    background-color: var(--slate-6);
  }

  .filter
    .blocks
    .block
    .list
    .item:has(> .link:hover:not(.disabled))
    > .roles {
    background-color: var(--slate-6);
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list .item:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 700px) {
  .filter .blocks .block .list .item:nth-child(n + 2) {
    display: none;
  }
}
@media (max-width: 1084px) {
  .filter .blocks .block .list .item .link {
    padding: 0.4em 0.75em;
    width: auto;
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list .item .link .tag {
    display: none;
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list .item .roles {
    display: none;
  }
}

@media (hover: hover) {
  .filter .blocks .block .list .item .roles .role:hover {
    background-color: var(--slate-5);
  }
}

@media (hover: hover) {
  .player > .line:hover {
    background-color: var(--slate-6);
  }
}
@media (hover: hover) {
  .player > .line .add:hover {
    background-color: var(--slate-5);
  }
}
@media (hover: hover) {
  .build .pro .name a:hover {
    border-color: var(--slate-1);
  }
}
@media (max-width: 1084px) {
  .grid {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}
@media (max-width: 1084px) {
  .grid .empty {
    position: relative;
    font-size: 0.8em;
    top: 0.5em;
  }
}

@media (max-width: 1000px) {
  .app .terms {
    text-align: center;
    display: none;
    margin: 1em 0;
    left: 0;
  }
}

@media (hover: hover) {
  .sortable-chosen .tooltip :hover + .box {
    display: none;
  }
}

@media (hover: hover) {
  .levels .level:hover {
    background-color: var(--slate-2);
    color: var(--slate-6);
    font-weight: 600;
  }
}
@media not (max-width: 600px) {
  .fstyle:not(.nopre) span[style*='color']:not(:has(*[style*='color'])),
  .fstyle:not(.nopre) span[style*='border-bottom'] {
    white-space: pre !important;
  }
}
@media (max-width: 700px) {
  .grid {
    --itemSize: 3em;
  }
}

@media (max-width: 700px) {
  .grid.small {
    --itemSize: 3em;
  }
}
@media (max-width: 700px) {
  .grid .group.big {
    font-size: 0.9em;
  }
}
@media (hover: hover) {
  .item:hover > .img {
    border-color: var(--itemBorderH, var(--itemBorder));
  }
}

@media (hover: hover) {
  .sheet > .wrap.hover:hover {
    background: var(--1c64872f);
  }
}
@media (hover: hover) {
  .line.hover:hover {
    background-color: var(--sheetBackHover, var(--slate-6));
  }
}

@media (hover: hover) {
  .stats .list .list-item:hover {
    background-color: var(--slate-6);
  }
}
@media (max-width: 680px) {
  .summoners {
    margin-bottom: 1em;
    margin-top: 1em;
    grid-area: 6/1;
  }
}

@media (hover: hover) {
  .summoners .list > .sum > button:hover {
    --sumBorder: var(--gold-lol);
  }
}

@media (max-width: 680px) {
  .shards {
    margin-top: 1em;
    grid-area: 5/1;
  }
}

@media (hover: hover) {
  .shards > .shard > button.row:hover {
    --shardFilter: grayscale(0);
  }
}

@media (max-width: 680px) {
  .runes {
    grid-area: 2/1;
  }

  .runes:nth-child(4) {
    grid-area: 4/1;
  }
}

@media (max-width: 680px) {
  .runes > .rune.slot-1-pos-0 {
    display: none;
  }
}

@media (hover: hover) {
  .runes > .rune > button:hover {
    --runeBorder: var(--gold-lol);
  }
}
@media (max-width: 680px) {
  .runesPage > .wrap {
    grid-template-columns: min-content;
    place-content: center;
    margin-top: 0.5em;
    grid-gap: 10px;
  }
}
@media (max-width: 680px) {
  .runesPage > .wrap .path {
    grid-area: 1/1;
  }

  .runesPage > .wrap .path:nth-child(2) {
    grid-area: 3/1;
    margin-top: 1em;
  }
}

@media (hover: hover) {
  .runesPage > .wrap .path > .rune:hover {
    --runeBorder: var(--gold-lol);
  }
}

@media (max-width: 680px) {
  .runesPage > .wrap .path > .rune.disabled {
    display: none;
  }
}
@media (hover: hover) {
  button:hover {
    background-color: var(--slate-5);
  }
}

@media (max-width: 1000px) {
  .picks {
    max-width: 21.2em;
    position: fixed;
    padding: 0 1em;
    width: 100%;
    bottom: 1em;
    z-index: 1;
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .picks .list {
    box-shadow: var(--black) 0 0 10px 4px;
    border: 1px solid var(--slate-4);
    background-color: var(--black);
    border-radius: 4px;
  }
}

@media (max-width: 1000px) {
  .picks .list:before {
    display: none;
  }
}

@media (max-width: 500px) {
  .randomizer > .sheet {
    --sheetSize: 13;
  }
}

@media (max-width: 1000px) {
  .item-page > .wrap {
    place-items: center;
  }
}

@media (max-width: 700px) {
  .item-page > .wrap {
    padding: 1.2em;
    gap: 1em 2em;
  }
}

@media (max-width: 1000px) {
  .item-page > .wrap > .header {
    grid-area: 1/1 / auto/-1;
  }
}

@media (max-width: 700px) {
  .item-page > .wrap > .header {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  .item-page > .wrap .body {
    grid-area: 2/1 / auto/-1;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .item-page > .wrap .body {
    font-size: 14px;
  }
}

@media (hover: hover) {
  .item-page > .wrap .body .wiki a:hover {
    color: var(--sand-3);
  }
}
@media (max-width: 1000px) {
  .item-page > .wrap .side {
    grid-area: 3/1 / auto/-1;
    margin-top: 1em;
  }
}

@media (max-width: 500px) {
  .item-page > .wrap .side {
    --gap: 6px 4px;
    --itemSize: 2.3em;
  }
}

@media (max-width: 1000px) {
  .item-page > .wrap .build {
    margin-top: 1em;
  }
}

@media (max-width: 700px) {
  .item-page > .wrap .build {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .builds {
    --sheetSize: 12;
  }
}
@media (max-width: 1000px) {
  .builds .settings {
    display: none;
  }
}
@media (max-width: 500px) {
  .err .text {
    font-size: 1em;
  }
}
@media (max-width: 1000px) {
  .build > .wrap {
    grid-template-columns: min-content;
  }
}
@media (max-width: 1000px) {
  .build > .wrap > .sheet {
    text-align: center;
    position: relative;
    grid-area: unset;
    --sheetSize: 15;
    top: unset;
  }
}

@media (max-width: 500px) {
  .build > .wrap > .sheet {
    --sheetSize: 14;
  }
}

@media (max-width: 1000px) {
  .build > .wrap .hue {
    grid-area: unset;
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .build > .wrap .hue input {
    --s: 1.1em;
  }
}

@media (max-width: 1000px) {
  .build > .wrap .actions {
    place-content: center;
    grid-area: unset;
    margin-top: 0;
  }
}
@media (max-width: 1000px) {
  .build > .wrap .actions .image {
    place-content: center;
    grid-area: unset;
  }
}

@media (max-width: 1000px) {
  .build > .wrap .actions .rest {
    place-content: center;
  }
}
@media (max-width: 1000px) {
  .build > .wrap > .stats {
    place-content: center;
    grid-area: unset;
  }
}

@media (max-width: 500px) {
  .build > .wrap > .stats {
    display: none;
  }
}

@media (hover: hover) {
  .build > .wrap > .stats > .pro:hover {
    filter: brightness(1.2);
  }
}

@media (max-width: 1000px) {
  .build > .wrap > .stats > .pro {
    display: none;
  }
}
@media (max-width: 1000px) {
  .build > .sheet {
    grid-area: 4/1 / auto/-1;
    place-self: center;
    --sheetSize: 14;
    display: none;
  }

  .build > .sheet.info {
    display: block;
  }
}

@media (max-width: 1000px) {
  .build .extra {
    grid-area: 3/1 / auto/-1;
    position: relative;
    margin-bottom: 2em;
    top: 0;
  }
}

@media (max-width: 1000px) {
  .items-page > .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .items-page > .grid .side {
    display: none;
  }
}

@media not (max-width: 1000px) {
  .items-page > .grid .items .grid .search,
  .items-page > .grid .items .grid .filter {
    display: none;
  }
}
@media (max-width: 500px) {
  .info form .desc {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .info form label {
    width: 255px;
  }
}
@media (max-width: 600px) {
  .home .hero .intro {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .home .builds {
    --sheetSize: 12;
    font-size: calc(var(--sheetSize) * 1px);
  }
}

@media (max-width: 400px) {
  .home .builds {
    --sheetSize: 10;
    font-size: calc(var(--sheetSize) * 1px);
  }
}

@media (max-width: 374px) {
  .home .builds {
    padding: 0;
  }
}
@media (max-width: 374px) {
  .home .builds > .wrap .build:nth-child(1) {
    display: none;
  }
}
@media (max-width: 374px) {
  .home .builds > .wrap .build:nth-child(2) {
    display: none;
  }
}
@media (max-width: 374px) {
  .home .builds > .wrap .build:nth-child(3) {
    position: relative;
    right: 0;
    top: 0;
  }
}
@media (hover: hover) {
  .accord > .split > .otps .otp:hover {
    color: var(--slate-2);
  }
}

@media (max-width: 1084px) {
  .stats {
    display: none;
  }
}
@media (hover: hover) {
  .stats .line:hover {
    background-color: var(--slate-6);
  }
}
@media (max-width: 1120px) {
  .filter {
    width: 14em;
  }
}

@media (max-width: 1084px) {
  .filter {
    position: static;
    display: flex;
    width: 100%;
  }
}

@media (max-width: 1084px) {
  .filter > .search {
    margin-bottom: -0.5em;
    grid-area: 1/1/2/3;
    place-self: center;
  }
}
@media (max-width: 1084px) {
  .filter .blocks {
    place-content: center;
    flex-direction: row;
    gap: 0.75em;
  }
}
@media (max-width: 1084px) {
  .filter .blocks .block {
    display: contents;
  }
}
@media (max-width: 1084px) {
  .filter .blocks .block .title {
    display: none;
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list {
    display: contents;
  }
}
@media (min-width: 1085px) {
  .filter .blocks .block .list .item:last-child {
    margin-bottom: 0;
  }
}

@media (hover: hover) {
  .filter .blocks .block .list .item:has(> .link:hover:not(.disabled)) {
    background-color: var(--slate-6);
  }

  .filter
    .blocks
    .block
    .list
    .item:has(> .link:hover:not(.disabled))
    > .roles {
    background-color: var(--slate-6);
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list .item:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 700px) {
  .filter .blocks .block .list .item:nth-child(n + 2) {
    display: none;
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list .item .link {
    padding: 0.4em 0.75em;
    width: auto;
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list .item .link .tag {
    display: none;
  }
}

@media (max-width: 1084px) {
  .filter .blocks .block .list .item .roles {
    display: none;
  }
}
@media (hover: hover) {
  .filter .blocks .block .list .item .roles .role:hover {
    background-color: var(--slate-5);
  }
}
@media (hover: hover) {
  .player > .line:hover {
    background-color: var(--slate-6);
  }
}

@media (hover: hover) {
  .player > .line .add:hover {
    background-color: var(--slate-5);
  }
}
@media (hover: hover) {
  .build .pro .name a:hover {
    border-color: var(--slate-1);
  }
}

@media (max-width: 828px) {
  .builds {
    width: 480px;
  }
}

@media (max-width: 550px) {
  .builds {
    width: 312px;
  }
}
@media (max-width: 1084px) {
  .grid {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}

@media (max-width: 1084px) {
  .grid .empty {
    position: relative;
    font-size: 0.8em;
    top: 0.5em;
  }
}

@media (max-width: 700px) {
  .header {
    font-size: 15px;
  }
}
@media (hover: hover) {
  .header a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1000px) {
  .app .terms {
    text-align: center;
    display: none;
    margin: 1em 0;
    left: 0;
  }
}

@media (max-width: 1000px) {
  h1 {
    margin-bottom: 1.2em;
    font-size: 1.6em;
  }
}

h1.pagetitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 750;
  font-size: 2em;
}

@media (max-width: 1000px) {
  h1.pagetitle {
    font-size: 1.4em;
  }
}
@media (hover: hover) {
  .btn:hover {
    filter: brightness(1.2);
  }
}

@media (max-width: 500px) {
  form label {
    width: 100%;
  }
}

@media (max-width: 500px) {
  form label.small {
    width: 100%;
  }
}
