/* Variables */
:root {
  --rune-size-mobile: 40px;
  --rune-size-desktop: 48px;
  --keystone-size-mobile: 50px;
  --keystone-size-desktop: 64px;
  --spacing-mobile: 12px;
  --spacing-desktop: 16px;
  --font-size-small: 0.925rem;
  --font-size-medium: 1rem;
  --font-size-large: 0.875rem;
  --small-size-mobile: 40px;
  --small-size-desktop: 36px;
  --selector-item-size-mobile: 40px;
  --selector-item-size-desktop: 48px;
}

.runesPage {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--gold-lol);
}

.wrap {
  display: flex;
  gap: 32px;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.runes-primary,
.runes-secondary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 280px;
}

.column-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.header-icon {
  width: var(--keystone-size-mobile);
  height: var(--keystone-size-mobile);
  border-radius: 50%;
  border: 3px solid var(--gold-lol);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
}

.header-icon img {
  width: 80%;
  height: 80%;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.header-title {
  font-family: var(--font-beaufort);
  color: var(--gold-lol);
  font-size: var(--font-size-medium);
  text-transform: uppercase;
}

.header-subtitle {
  font-family: var(--font-spiegel);
  color: var(--nox-grey2);
  font-size: var(--font-size-small);
  max-width: 120px;
}

.rune-tier {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-mobile);
}

.rune-tier::before {
  content: '';
  position: absolute;
  left: 32px;
  top: -30px;
  height: 30px;
  width: 2px;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  opacity: 0.3;
}

.rune-tier:first-child::before {
  display: none;
}

.rune-tier.main-rune::after {
  content: '';
  position: absolute;
  left: 64px;
  top: 50%;
  height: 2px;
  width: 150px;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  opacity: 0.3;
}

.rune-slot {
  width: var(--rune-size-mobile);
  height: var(--rune-size-mobile);
  border-radius: 50%;
  border: 2px solid var(--nox-grey3);
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rune-slot.selected {
  border-color: var(--gold-lol);
}

.rune-description {
  font-family: var(--font-spiegel);
  color: var(--nox-grey2);
  font-size: var(--font-size-medium);
}

.stat-shards .rune-tier {
  gap: var(--spacing-mobile);
}

.stat-shards .rune-slot {
  width: 35px;
  height: 35px;
}

.rune-slot:not(.selected) {
  opacity: 0.6;
}

.rune-slot:hover:not(.selected) {
  border-color: var(--gold-lol);
  opacity: 0.8;
}

.rune-slot img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
.runes-selector-primary {
  position: absolute;
  top: 50%;
  left: calc(13%);
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  border: 1px solid var(--gold-lol);
  border-radius: 8px;
  padding: 12px;
  z-index: 10;
  box-shadow: 0 0 15px rgba(158, 134, 67, 0.2);
}

.runes-selector {
  position: absolute;
  top: 50%;
  left: calc(20%);
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  border: 1px solid var(--gold-lol);
  border-radius: 8px;
  padding: 12px;
  z-index: 10;
  box-shadow: 0 0 15px rgba(158, 134, 67, 0.2);
}

.runes-selector::before {
  content: '';
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid var(--gold-lol);
}

.runes-selector-primary::before {
  content: '';
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid var(--gold-lol);
}

.rune-option {
  width: var(--rune-size-mobile);
  height: var(--rune-size-mobile);
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 2px;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.rune-option:hover {
  border-color: var(--gold-lol);
}

.rune-option.selected {
  border: 2px solid var(--gold-lol);
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    var(--final-blue) 100%
  );
}

.rune-option img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.rune-tooltip {
  font-family: var(--font-spiegel);
  position: fixed;
  z-index: 1000;
  max-width: 90vw;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  border: 1px solid var(--gold-lol);
  border-radius: 8px;
  padding: 12px;
  width: auto;
  pointer-events: none;
  color: var(--nox-grey1);
}

.rune-tooltip h3 {
  font-family: var(--font-beaufort);
  color: var(--gold-lol);
  font-size: 1rem;
  margin: 0 0 8px 0;
}

.rune-tooltip p {
  font-family: var(--font-spiegel);
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.4;
}

.secondary-selector {
  padding: 16px;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  min-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rune-slot-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rune-slot-line {
  height: 1px;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  opacity: 0.3;
  margin: 4px 0;
}

.rune-options-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.rune-option.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.stat-shards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-mobile);
  margin-top: var(--spacing-mobile);
}

.shard-tier {
  display: flex;
  align-items: center;
  gap: var(--spacing-mobile);
}

.rune-slot-container {
  position: relative;
}

.shard-selector {
  position: absolute;
  transform: translateY(-50%);
  margin-left: 8px;
  z-index: 1000;
  left: calc(96%);
}

@media (min-width: 768px) {
  .summoner-selector {
    left: calc(6.5%) !important;
    top: calc(90%) !important;
  }

  .stat-shards .rune-slot {
    width: 35px;
    height: 35px;
  }

  .summoner-selector .rune-option {
    width: var(--selector-item-size-desktop);
    height: var(--selector-item-size-desktop);
  }
  .secondary-selector {
    position: fixed;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0;
    z-index: 1000;
  }

  .stat-shards {
    gap: var(--spacing-desktop);
  }

  .shard-tier {
    width: 38px;
    height: 38px;
  }

  .rune-slot,
  .summoner-slot .rune-slot {
    width: var(--selector-item-size-desktop);
    height: var(--selector-item-size-desktop);
  }
  .summoner-spells {
    gap: var(--spacing-desktop);
    margin-top: var(--spacing-desktop);
  }

  .summoner-slot {
    gap: var(--spacing-desktop);
  }
  .keystone-option {
    width: var(--keystone-size-desktop);
    height: var(--keystone-size-desktop);
  }

  .keystone-slot {
    width: var(--keystone-size-desktop);
    height: var(--keystone-size-desktop);
  }

  .keystone-icon {
    width: var(--keystone-size-desktop);
    height: var(--keystone-size-desktop);
  }

  .runes-selector .keystone-option {
    width: var(--rune-size-desktop);
    height: var(--rune-size-desktop);
  }

  .runes-selector .keystone-icon {
    width: var(--rune-size-desktop);
    height: var(--rune-size-desktop);
  }

  .runes-selector.shard-selector {
    left: calc(96%);
  }
  .wrap {
    flex-direction: row;
  }
  .runes-selector {
    left: calc(23%);
  }

  .runes-selector-primary {
    left: calc(17%);
  }

  .runesPage {
    justify-content: center;
    padding: 2rem;
  }

  .header-icon {
    width: var(--keystone-size-desktop);
    height: var(--keystone-size-desktop);
  }

  .header-title {
    font-size: var(--font-size-large);
  }

  .header-subtitle {
    font-size: var(--font-size-medium);
    max-width: 200px;
  }

  .rune-option {
    width: var(--selector-item-size-desktop);
    height: var(--selector-item-size-desktop);
  }

  .rune-slot {
    width: var(--selector-item-size-desktop);
    height: var(--selector-item-size-desktop);
  }

  .rune-description {
    font-size: var(--font-size-medium);
  }

  .rune-tier {
    gap: var(--spacing-desktop);
  }
}

@media (max-width: 480px) {
  .rune-tooltip {
    left: 50% !important;
    bottom: 20px !important;
    top: auto !important;
    transform: translateX(-50%);
  }
}

.runes-selector.secondary-selector {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  min-width: 300px;
  max-width: 90vw;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  border: 1px solid var(--gold-lol);
  padding: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.runes-selector.secondary-slot-selector {
  position: absolute;
  left: 100%;
  margin-left: 10px;
  background: linear-gradient(
    135deg,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      0%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 40%) 0%
      )
      5%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 5%
      )
      10%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 35%) 10%
      )
      15%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 15%
      )
      20%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 30%) 20%
      )
      25%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 25%
      )
      30%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 25%) 30%
      )
      35%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 35%
      )
      40%,
    color-mix(
        in srgb,
        var(--base-dark),
        color-mix(in srgb, var(--black), black 20%) 40%
      )
      45%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 45%
      )
      50%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 15%) 50%
      )
      55%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 55%
      )
      60%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 10%) 60%
      )
      65%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 65%
      )
      70%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 5%) 70%
      )
      75%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 75%
      )
      80%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 80%
      )
      85%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 85%
      )
      90%,
    color-mix(
        in srgb,
        var(--final-blue),
        color-mix(in srgb, var(--black), black 0%) 90%
      )
      95%,
    var(--final-blue) 100%
  );
  border: 1px solid var(--gold-lol);
  padding: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.runes-selector.secondary-keystone-selector {
  position: absolute;
}

/* Mobile first */
.keystone-option {
  width: var(--keystone-size-mobile);
  height: var(--keystone-size-mobile);
}

.keystone-slot {
  width: var(--keystone-size-mobile);
  height: var(--keystone-size-mobile);
}

.keystone-icon {
  width: var(--keystone-size-mobile);
  height: var(--keystone-size-mobile);
}

.runes-selector .keystone-option {
  width: var(--rune-size-mobile);
  height: var(--rune-size-mobile);
}

.runes-selector .keystone-icon {
  width: var(--rune-size-mobile);
  height: var(--rune-size-mobile);
}

.rune-used {
  opacity: 0.5;
}

.rune-option.active {
  opacity: 1;
}

.summoner-spells {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-mobile);
  margin-top: var(--spacing-mobile);

  .summoner-slot {
    display: flex;
    align-items: center;
    gap: var(--spacing-mobile);

    .rune-slot {
      width: var(--small-size-mobile);
      height: var(--small-size-mobile);
      border: 1px solid var(--gold-lol);
      border-radius: 4px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
      }
    }
  }
}

.summoner-selector {
  position: absolute;
  background: var(--base-dark);
  border: 1px solid var(--gold-lol);
  border-radius: 4px;
  padding: 8px;
  z-index: 1000;

  .rune-options-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    max-height: 200px;
  }

  .rune-option {
    width: var(--selector-item-size-mobile);
    height: var(--selector-item-size-mobile);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: var(--gold-lol);
    }

    &.selected {
      border-color: var(--gold-lol);
      background: var(--final-blue);
    }

    &.used {
      opacity: 0.5;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 2px;
      object-fit: cover;
    }
  }
}

@media (max-width: 767px) {
  .column-header {
    margin-bottom: 0.1rem;
  }

  .runes-selector {
    left: calc(14%);
  }

  .summoner-selector {
    position: absolute;
    left: 36% !important;
    top: 46% !important;
    transform: translate(-50%, -50%) !important;

    .rune-options-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .shard-selector {
    left: calc(98%) !important;
  }

  .wrap {
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .summoner-spells {
    gap: var(--spacing-desktop);
    margin-top: var(--spacing-desktop);

    .summoner-slot {
      gap: var(--spacing-desktop);

      .rune-slot {
        width: var(--small-size-desktop);
        height: var(--small-size-desktop);
      }
    }
  }

  .summoner-selector {
    .rune-option {
      width: var(--selector-item-size-desktop);
      height: var(--selector-item-size-desktop);
    }
  }
}
