.runes > .rune[data-v-7b108f5e] {
  place-content: center;
  width: var(--2be422df);
  position: relative;
  display: grid;
  height: 54px;
}

.runes > .rune.slot-1-pos-0[data-v-7b108f5e] {
  visibility: hidden;
}

.runes > .rune > button[data-v-7b108f5e] {
  --runeBorder: var(--gold-4);
  --runeSize: 40px;
}

.runes > .rune > button.full[data-v-7b108f5e] {
  --runeImgFilter: grayscale(1) brightness(0.6);
}

.runes > .rune > button.row[data-v-7b108f5e] {
  --runeImgFilter: grayscale(1) brightness(0.6);
}

.runes > .rune > button.selected[data-v-7b108f5e] {
  --runeImgFilter: grayscale(0) brightness(1);
  --runeBorder: var(--gold-3);
}

.runesPage > .wrap[data-v-c83b00c2] {
  grid-template-columns: repeat(2, min-content);
  grid-gap: 20px 60px;
  display: grid;
}

.runesPage > .wrap .path[data-v-c83b00c2] {
  display: flex;
}

.runesPage > .wrap .path > .rune[data-v-c83b00c2] {
  --runeBorder: var(--gold-4);
  --runeBack: var(--black);
  --runeSize: 45px;
  margin: 0.3em;
}

.runesPage > .wrap .path > .rune.row[data-v-c83b00c2] {
  --runeImgFilter: grayscale(1) brightness(0.6);
}

.runesPage > .wrap .path > .rune.chosen[data-v-c83b00c2]:not(.selected) {
  --runeImgFilter: brightness(0.6);
  --runeFilter: grayscale(1);
  pointer-events: none;
}

.runesPage > .wrap .path > .rune.disabled[data-v-c83b00c2] {
  --runeImgFilter: brightness(0.4);
  --runeFilter: grayscale(1);
  pointer-events: none;
}

.runesPage > .wrap .path > .rune.selected[data-v-c83b00c2] {
  --runeImgFilter: grayscale(0);
  --runeBorder: var(--gold-3);
}

.rune[data-v-ab218c16] {
  border: 1px solid var(--runeBorder, var(--gold-3));
  background-color: var(--runeBack);
  filter: var(--runeFilter);
  height: var(--runeSize);
  width: var(--runeSize);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.rune.path[data-v-ab218c16] {
  --s: 75%;
}

.rune > img[data-v-ab218c16] {
  filter: var(--runeImgFilter);
  height: var(--s, 100%);
  width: var(--s, 100%);
  display: block;
}

.runes[data-v-7b108f5e] {
  grid-template-columns: repeat(4, min-content);
  display: grid;
}

.runes > .rune[data-v-7b108f5e] {
  place-content: center;
  width: var(--2be422df);
  position: relative;
  display: grid;
  height: 54px;
}

.runes > .rune.slot-1-pos-0[data-v-7b108f5e] {
  visibility: hidden;
}

.runes > .rune > button[data-v-7b108f5e] {
  --runeBorder: var(--gold-4);
  --runeSize: 40px;
}

.runes > .rune > button.full[data-v-7b108f5e] {
  --runeImgFilter: grayscale(1) brightness(0.6);
}

.runes > .rune > button.row[data-v-7b108f5e] {
  --runeImgFilter: grayscale(1) brightness(0.6);
}

.runes > .rune > button.selected[data-v-7b108f5e] {
  --runeImgFilter: grayscale(0) brightness(1);
  --runeBorder: var(--gold-3);
}

.runesPage[data-v-c83b00c2] {
  max-width: min-content;
  margin: 0.5em auto 1em;
  text-align: center;
}

.runesPage > .wrap[data-v-c83b00c2] {
  grid-template-columns: repeat(2, min-content);
  grid-gap: 20px 60px;
  display: grid;
}

.runesPage > .wrap .path[data-v-c83b00c2] {
  display: flex;
}

.runesPage > .wrap .path > .rune[data-v-c83b00c2] {
  --runeBorder: var(--gold-4);
  --runeBack: var(--black);
  --runeSize: 45px;
  margin: 0.3em;
}

.runesPage > .wrap .path > .rune.row[data-v-c83b00c2] {
  --runeImgFilter: grayscale(1) brightness(0.6);
}

.runesPage > .wrap .path > .rune.chosen[data-v-c83b00c2]:not(.selected) {
  --runeImgFilter: brightness(0.6);
  --runeFilter: grayscale(1);
  pointer-events: none;
}

.runesPage > .wrap .path > .rune.disabled[data-v-c83b00c2] {
  --runeImgFilter: brightness(0.4);
  --runeFilter: grayscale(1);
  pointer-events: none;
}

.runesPage > .wrap .path > .rune.selected[data-v-c83b00c2] {
  --runeImgFilter: grayscale(0);
  --runeBorder: var(--gold-3);
}
