.stats .list .list-item .value.critical-strike-chance\:\%:first-child,
.stats .list .list-item .value.attack-speed\:\%:first-child {
  color: transparent;
}

.stats .list .list-item .value + .name {
  border-bottom: 1px solid var(--slate-4);
  align-content: center;
  white-space: nowrap;
  padding: 0 0.75em;
  width: 100%;
}

.stats .list .list-item .value + .name:first-letter {
  text-transform: capitalize;
}

.stats .list .list-item .value.gold,
.stats .list .list-item .value.gold + .name {
  font-weight: 700;
}

.stats .list .list-item .value,
.stats .list .list-item .value + .name {
  padding-top: 0.1em;
}

.stats {
  border: 1px solid var(--slate-5);
  background-color: var(--black);
  border-radius: 4px;
  position: relative;
  grid-area: 1/2;
  width: 100%;
}

.stats.open {
  border-color: var(--slate-4);
}

.stats.open .line {
  border-bottom: 1px solid var(--slate-5);
  border-radius: 4px 4px 0 0;
}

.stats .line {
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: 4px;
  line-height: 1rem;
  user-select: none;
  padding: 1em;
  cursor: pointer;
  display: flex;
  width: 100%;
  gap: 1.5em;
}

.stats .line:has(a:hover) {
  background-color: var(--black);
}

.stats .line .info {
  align-items: center;
  margin-right: auto;
  display: flex;
  gap: 1em;
}

.stats .line .info .champion {
  position: relative;
  --champBorder: var(--slate-4);
  --champSize: 2.8em;
}

.stats .line .info .champion.on {
  --champBorder: var(--slate-3);
}

.stats .line .info .champion > a:hover {
  --champBorder: var(--slate-2);
}

.stats .line .info .champion .role {
  filter: grayscale(1);
  height: var(--size);
  width: var(--size);
  position: absolute;
  bottom: -0.35em;
  right: -0.35em;
  --size: 1.2em;
}

.stats .line .info .champion .role img {
  display: block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 0 0 var(--black)) drop-shadow(0 1px 0 var(--black))
    drop-shadow(-1px 0 0 var(--black)) drop-shadow(0 -1px 0 var(--black));
}

.stats .line .info .title {
  flex-direction: column;
  text-align: left;
  display: flex;
  gap: 0.2em;
}

.stats .line .info .title .name {
  color: var(--slate-1);
  table-layout: fixed;
  font-weight: 600;
  font-size: 1em;
  display: table;
  width: 100%;
}

.stats .line .info .title .name span {
  text-overflow: ellipsis;
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}

.stats .line .info .title .name span .rank {
  margin-bottom: -0.15em;
  display: inline-block;
  margin-left: 0.25em;
  height: var(--size);
  width: var(--size);
  --size: 1em;
}

.stats .line .info .title .name span .rank img {
  display: block;
  height: 100%;
  width: 100%;
}

.stats .line .info .title > .count {
  color: var(--slate-3);
  table-layout: fixed;
  font-size: 0.75em;
  font-weight: 500;
  display: table;
  width: 100%;
}

.stats .line .info .title > .count span {
  text-overflow: ellipsis;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
  width: 100%;
  gap: 0.5em;
}

.stats .line .info .title > .count span .tip {
  display: contents;
  --tooltipBorder1: var(--slate-3);
  --tooltipBorder2: var(--slate-3);
  --tooltip: var(--slate-1);
  --tooltipPad: 0.6em 0.8em;
  --tooltipTextSize: 13px;
  --tooltipMinWidth: 0;
}

.stats .line .info .title > .count span .tip svg {
  --s: 1.1em;
  width: var(--s);
  height: var(--s);
}

.stats .line .runes {
  display: flex;
  gap: 1.25em;
  --runeSize: 1.8em;
}

.stats .line .runes .main {
  --runeBorder: var(--gold-lol);
}

.stats .line .runes .main,
.stats .line .runes .sec {
  display: flex;
  gap: 0.5em;
}

.stats .line .runes .main .rune,
.stats .line .runes .sec .rune {
  flex-direction: column;
  display: flex;
  gap: 0.25em;
}

.stats .line .runes .main .rune .pct,
.stats .line .runes .sec .rune .pct {
  color: var(--slate-1);
  text-align: center;
  font-size: 0.7em;
  font-weight: 500;
  width: 4ch;
}

.stats .line .items {
  display: flex;
  gap: 0.5em;
  --itemBorder: var(--gold-lol);
  --itemText: var(--slate-1);
  --itemTextSize: 0.28em;
  --itemSize: 2.5em;
}

.stats .line .items .hide {
  visibility: hidden;
}

.stats {
  color: var(--slate-2);
  position: relative;
  text-align: left;
  display: flex;
  width: 100%;
}

.stats .list {
  font-family: var(--mono);
  position: relative;
  font-size: 0.8em;
  width: 100%;
}

.stats .list .labels {
  display: flex;
}

.stats .list .labels .label {
  text-align: center;
  font-weight: 600;
}

.stats .list .labels .label:first-letter {
  text-transform: capitalize;
}

.stats .list .column {
  min-width: 8ch;
}

.stats .list .list-item {
  position: relative;
  display: flex;
  gap: 1px;
}

.stats .list .list-item .value {
  border-bottom: 1px solid var(--slate-6);
  color: var(--slate-6);
  padding: 0 0.5em;
  text-align: right;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stats .list .list-item .value.critical-strike-chance\:\%:first-child,
.stats .list .list-item .value.attack-speed\:\%:first-child {
  color: transparent;
}

.stats .list .list-item .value + .name {
  border-bottom: 1px solid var(--slate-4);
  align-content: center;
  white-space: nowrap;
  padding: 0 0.75em;
  width: 100%;
}

.stats .list .list-item .value + .name:first-letter {
  text-transform: capitalize;
}

.stats .list .list-item .value.gold,
.stats .list .list-item .value.gold + .name {
  font-weight: 700;
}

.stats .list .list-item .value,
.stats .list .list-item .value + .name {
  padding-top: 0.1em;
}

.stats .slot {
  position: absolute;
  display: flex;
  top: 0.1em;
  right: 0;
}

.stats {
  border: 1px solid var(--slate-5);
  background-color: var(--black);
  border-radius: 4px;
  position: relative;
  grid-area: 1/2;
  width: 100%;
}

.stats.open {
  border-color: var(--slate-4);
}

.stats.open .line {
  border-bottom: 1px solid var(--slate-5);
  border-radius: 4px 4px 0 0;
}

.stats .line {
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: 4px;
  line-height: 1rem;
  user-select: none;
  padding: 1em;
  cursor: pointer;
  display: flex;
  width: 100%;
  gap: 1.5em;
}

.stats .line:has(a:hover) {
  background-color: var(--black);
}

.stats .line .info {
  align-items: center;
  margin-right: auto;
  display: flex;
  gap: 1em;
}

.stats .line .info .champion {
  position: relative;
  --champBorder: var(--slate-4);
  --champSize: 2.8em;
}

.stats .line .info .champion.on {
  --champBorder: var(--slate-3);
}

.stats .line .info .champion > a:hover {
  --champBorder: var(--slate-2);
}

.stats .line .info .champion .role {
  filter: grayscale(1);
  height: var(--size);
  width: var(--size);
  position: absolute;
  bottom: -0.35em;
  right: -0.35em;
  --size: 1.2em;
}

.stats .line .info .champion .role img {
  display: block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 0 0 var(--black)) drop-shadow(0 1px 0 var(--black))
    drop-shadow(-1px 0 0 var(--black)) drop-shadow(0 -1px 0 var(--black));
}

.stats .line .info .title {
  flex-direction: column;
  text-align: left;
  display: flex;
  gap: 0.2em;
}

.stats .line .info .title .name {
  color: var(--slate-1);
  table-layout: fixed;
  font-weight: 600;
  font-size: 1em;
  display: table;
  width: 100%;
}

.stats .line .info .title .name span {
  text-overflow: ellipsis;
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}

.stats .line .info .title .name span .rank {
  margin-bottom: -0.15em;
  display: inline-block;
  margin-left: 0.25em;
  height: var(--size);
  width: var(--size);
  --size: 1em;
}

.stats .line .info .title .name span .rank img {
  display: block;
  height: 100%;
  width: 100%;
}

.stats .line .info .title > .count {
  color: var(--slate-3);
  table-layout: fixed;
  font-size: 0.75em;
  font-weight: 500;
  display: table;
  width: 100%;
}

.stats .line .info .title > .count span {
  text-overflow: ellipsis;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
  width: 100%;
  gap: 0.5em;
}

.stats .line .info .title > .count span .tip {
  display: contents;
  --tooltipBorder1: var(--slate-3);
  --tooltipBorder2: var(--slate-3);
  --tooltip: var(--slate-1);
  --tooltipPad: 0.6em 0.8em;
  --tooltipTextSize: 13px;
  --tooltipMinWidth: 0;
}

.stats .line .info .title > .count span .tip svg {
  --s: 1.1em;
  width: var(--s);
  height: var(--s);
}

.stats .line .runes {
  display: flex;
  gap: 1.25em;
  --runeSize: 1.8em;
}

.stats .line .runes .main {
  --runeBorder: var(--gold-lol);
}

.stats .line .runes .main,
.stats .line .runes .sec {
  display: flex;
  gap: 0.5em;
}

.stats .line .runes .main .rune,
.stats .line .runes .sec .rune {
  flex-direction: column;
  display: flex;
  gap: 0.25em;
}

.stats .line .runes .main .rune .pct,
.stats .line .runes .sec .rune .pct {
  color: var(--slate-1);
  text-align: center;
  font-size: 0.7em;
  font-weight: 500;
  width: 4ch;
}

.stats .line .items {
  display: flex;
  gap: 0.5em;
  --itemBorder: var(--gold-lol);
  --itemText: var(--slate-1);
  --itemTextSize: 0.28em;
  --itemSize: 2.5em;
}

.stats .line .items .hide {
  visibility: hidden;
}

.extra-stats {
  max-width: 24em;
  width: 100%;
}
