@supports (-webkit-touch-callout: none) {
  form label input,
  form label textarea {
    font-size: 16px;
  }
}

@supports (-webkit-touch-callout: none) {
  .app {
    background: color-mix(in srgb, var(--black), var(--accent) 15%);
  }
}
@supports (-webkit-touch-callout: none) {
  .app {
    background: color-mix(in srgb, var(--black), var(--accent) 15%);
  }
}
